[2014-09-10 17:16] nmihajlovski opened #2 "Complete file upload support in HTTP module"

[2014-09-10 17:29] nmihajlovski opened #3 "Better support for HTTP error response"

[2014-10-23 02:13] nmihajlovski opened #4 "Double Content-type headers in HTTP response"

[2014-10-23 02:27] #4 closed, assigned to nmihajlovski

[2014-10-23 02:28] #3 closed, assigned to nmihajlovski

[2014-10-23 12:45] nmihajlovski opened #5 "done() should be required to call only if async() was called for a request"

[2014-10-23 12:46] nmihajlovski opened #6 "Reconnect after TCP connection failure."

[2014-10-23 12:48] nmihajlovski opened #7 "Automatically detect and load Entity class when not specified in CRUD"
It should be detected from the name (e.g. PersonService -> "Person.class")

[2014-10-23 12:50] nmihajlovski opened #8 "Add support for common HTTP headers"
E.g. Referer, User-Agent, Cache-Control, etc. (probably as constants, instead of retriever methods)

[2014-10-23 12:52] nmihajlovski opened #9 "Add proper synchronization to the API"
(Mostly needed in Net, Htttp components.)

[2014-10-26 20:00] nmihajlovski opened #10 "HTTP pipelining is broken"

[2014-10-26 20:57] #10 closed, assigned to nmihajlovski

[2014-10-27 00:03] #5 closed, assigned to nmihajlovski

[2014-10-27 00:23] #7 closed, assigned to nmihajlovski

[2014-10-27 01:40] #6 closed, assigned to nmihajlovski

[2014-10-27 13:53] nmihajlovski opened #11 "Complete session implementation"

[2014-10-27 13:54] nmihajlovski opened #12 "Complete OAuth email-based login."

[2014-11-14 22:49] #11 closed, assigned to nmihajlovski

[2014-11-14 22:49] #2 closed, assigned to nmihajlovski

[2014-11-15 03:53] #12 closed, assigned to nmihajlovski

[2014-11-18 20:08] #9 closed, assigned to nmihajlovski

[2015-07-02 19:26] nmihajlovski opened #16 "Improve test coverage for U utils."

[2015-07-02 19:26] nmihajlovski opened #17 "Improve test coverage for Beany utils."

[2015-07-02 19:26] nmihajlovski opened #18 "Improve test coverage for Cls utils."

[2015-07-02 19:26] nmihajlovski opened #19 "Improve test coverage for Cls utils."

[2015-07-02 19:27] nmihajlovski opened #20 "Implement message channel abstraction on top of the Net module."

[2015-07-02 19:30] nmihajlovski opened #21 "Add simple Cache utils/plugins."
Cache.get("x")
Cache.set("x", 123);

[2015-07-02 19:31] nmihajlovski opened #22 "Add simple Template utils/plugins."
Design and implement Template utils that will render any template (depending on the TemplatePlugin impl.)

[2015-07-02 19:33] nmihajlovski opened #23 "Add simple SMS utils/plugins."
E.g. SMS.send("+1234567890", "hello!").

Design and implement SmsPlugin component and SMS Facade API.

[2015-07-02 19:34] nmihajlovski opened #24 "AOP caching"
e.g. @Cached(timeout=1000)

[2015-07-02 19:35] nmihajlovski opened #25 "Implement clientId retriever"
Client ID == username if the user is logged in, otherwise it's the IP address.

[2015-07-12 11:24] nmihajlovski commented on #21
Differentiating Local Cache (in-process) and Remote Cache (other process).

[2015-07-12 16:29] #21 closed

[2015-07-12 16:29] #23 closed

[2015-07-12 16:30] #19 closed

[2015-09-26 19:00] #22 closed

[2015-11-08 20:51] WhiteTrashLord opened #29 "Better documentation, overview"
Rapidoid looks very promising to me. Do you plan to add a better documentation on the website?

For example some features that you support blocking and non blocking mode.

I might want to test rapidoid-http-fast soon. It's already possible to set how many cores should be used and some other settings like max. buffer size?

[2015-11-09 08:10] huysamen commented on #29
+1 for more complete documentation.

[2015-11-12 17:51] nmihajlovski commented on #29
Hi, I am happy to hear about your interest about Rapidoid.

Improving the documentation is the next thing on my to-do list. This weekend I will start adding more examples for the http-fast module and more information about the architecture of the web server and the request processing.

Regarding the configuration options - yes, they are supported, but not documented (like many other things). This

[2015-11-24 16:02] jacek99 opened #30 "Add support for PATCH HTTP method"
Had a look at the On class:

https://github.com/rapidoid/rapidoid/blob/4893a8f7f8d55af80a996b26558884ff4150fceb/rapidoid-http-fast/src/main/java/org/rapidoid/http/fast/On.java

and it seems to only have support for initial HTTP methods, in particular PUT for updates.

Please add support for the newer PATCH HTTP method as well. Thanks

http://restcookbook.com/HTTP%20Methods/patch/

[2015-11-24 23:15] nmihajlovski commented on #30
Thanks for pointing this out, I will add the missing HTTP verbs (PATCH, HEAD and TRACE).

[2015-11-25 07:52] nmihajlovski commented on #30
Resolved and already available in the release 5.0.5.

[2015-11-25 07:52] #30 closed

[2015-11-25 15:48] jacek99 opened #31 "Support second admin port"
All the modern micro-service frameworks like Dropwizard or Spring Boot support opening up a second admin HTTP port.

That port is closed off on the firewall, so not accessible from the outside.

On the admin port, the apps are then safe to expose admin APIs (e.g. refresh internal memory caches, etc) as well as service health check APIs.

See
http://www.dropwizard.io/0.9.1/docs/manual/core.html#hea

[2015-11-25 15:53] jacek99 opened #32 "Support configuring via ENV variables for 12-factor app support"
http://12factor.net/config

This is common in modern microservice development and especially plays well with Docker.

http://docs.docker.com/engine/reference/builder/#env

It would be great if Rapidoid had a standard set of ENV environment variables that it checked at start-up and auto-configured its HTTP engine accordingly, e.g.

HTTP_IP
HTTP_PORT
HTTP_ADMIN_PORT

etc,

Basically any part of the

[2015-11-25 15:59] jacek99 opened #33 "Get rid of the "bullshit" statement"
It may seem cool, but it does deter corporate users from taking Rapidoid seriously.

This type of language is generally frowned upon  when folks like me are trying to present a framework to managers. It strikes them as immature.

I recommend something like "easy and super fast" :-)

Just a suggestion to help with Rapidoid adoption.

[2015-11-27 00:44] nmihajlovski commented on #31
This is important, indeed.

Currently it is possible to simply start multiple servers on different ports in the same app.

But for this admin use case - few extras (like way of easy authentication and simple but proper API) will be useful.

[2015-12-02 06:16] rpmoore opened #34 "HTTPS Support"
At first glance the one thing that would prevent me from using this today is the lack of HTTPS support.  The framework looks really promising and I think adding HTTPS support would encourage others to start to use the framework.

[2015-12-07 18:03] zaregis commented on #34
+1

[2015-12-14 13:21] Turbots commented on #34
I'm really liking the framework so far, extremely fast and intuitive to use.
Adding HTTPS support is the last major hurdle before people can start using it in production.

[2015-12-14 16:20] wenerme commented on #33
+ 1

[2015-12-14 16:23] wenerme opened #35 "Why fast-http has no url pattern support ?"
url pattern is really important for doing some real thing,I don't want to use web for only url pattern it's to heavy.

As sweet as

[code]

[2015-12-14 20:08] previousdeveloper commented on #29
+1

[2015-12-15 13:48] mirovalent commented on #33
+1

[2015-12-15 20:41] jfernand commented on #33
-1 Irrelevant

[2015-12-16 09:58] FrontierPsychiatrist opened #36 "Package scanning excludes a lot of common packages, breaks example 9"
I wanted to try out example 9, "Hello world" RESTful service (high-level POJO abstraction). Since I'm in Germany I put my code in a package structure that starts with `de.`. But the classpath scanner excludes packages that start with `de` by default (and a lot more countries, see "scan-ignore.txt`). I'm not sure what the reasoning behind this is? The example didn't work for me like that.

[2015-12-16 10:01] FrontierPsychiatrist opened #37 "NullPointerException when putting the Main class in an empty package"
When running the following class

[code]

in the root package Rapidoid crashes with an NPE:
[code]

While this is of course an antipattern NPEs should be avoided.

[2015-12-17 06:52] nmihajlovski opened #38 "Hot reloading of changed classes"

[2015-12-17 06:55] nmihajlovski opened #39 "Swagger integration"
Several developers already asked for this nice-to-have functionality.

[2015-12-17 07:06] nmihajlovski commented on #33
I agree the "no-bullshit" is controversial, so I am going to change it soon to something nicer...

Thank you all for the feedback!

[2015-12-17 07:51] nmihajlovski commented on #36
Thanks for reporting this! The packages from the list are ignored to speed-up the classpath scanning process.

This makes sense for some libraries that are unlikely to use Rapidoid's classpath scanner on their own (e.g. org.hibernate, org.springframework).

But, the simplest way to initially create such list was automatically from the open-source libraries, but it was so big (and by now low-priori

[2015-12-19 08:59] #37 closed

[2015-12-20 17:11] nmihajlovski commented on #36
Actually, I completely removed the list of ignored packages. Ignoring some packages was a bad idea, due to the surprises it caused.

Now all the packages will be scanned, unless a target package is specified.

[2015-12-20 17:11] #36 closed

[2015-12-21 10:45] FrontierPsychiatrist commented on #36
Cool, thanks!

[2015-12-21 21:48] nmihajlovski opened #40 "Support for Chunked Transfer Encoding"
It would be nice to add support for Chunked Transfer Encoding in the HTTP server.

[2015-12-21 22:04] nmihajlovski opened #41 "Support custom response code for redirect"
Currently the HTTP redirect returns response code of 303.

This response code should be customizable e.g. response().code(302).

[2015-12-21 22:39] nmihajlovski opened #42 "Browser serves constantly scrolling page instead of the 500 error page?"
I has been reported that in some error cases the browser serves constantly scrolling page instead of the 500 error page.

How can this scenario be reproduced?

[2015-12-21 22:53] nmihajlovski opened #43 "Hardening of the server-side and cookie-persisted session"
Improve the security of the server-side and cookie-persisted session implementations.

[2015-12-21 22:56] nmihajlovski commented on #18
Obsolete and irrelevant.

[2015-12-21 22:56] #18 closed

[2015-12-21 22:57] nmihajlovski commented on #16
Obsolete and irrelevant.

[2015-12-21 22:57] #16 closed

[2015-12-21 22:57] nmihajlovski commented on #17
Obsolete and irrelevant.

[2015-12-21 22:57] #17 closed

[2015-12-21 22:58] nmihajlovski commented on #20
Obsolete and out of scope.

[2015-12-21 22:58] #20 closed

[2015-12-21 22:59] nmihajlovski commented on #25
Obsolete and irrelevant.

[2015-12-21 22:59] #25 closed

[2015-12-24 06:18] lefay1982 opened #44 "Support http-fast all in one jar."
I want reference one jar of http-fast (like netty-all ),   and only use http-fast,  do not use web module.
can you add this feature?

[2015-12-25 10:33] peterps-health commented on #42
Please close, as after tryi reproduce it for some time can't reproduce it myself.
Seems like a newby mistake, thank you for raising it through.

[2015-12-25 17:17] nmihajlovski commented on #44
I am not sure I understand this issue.

You can already reference just the "http-fast" module, without the "web" module, as described here:
http://www.rapidoid.org/http-fast.html

Is this issue is about having all-in-one JAR containing http-fast and its dependencies? Which build tool would you use in such case?

[2015-12-25 17:25] lefay1982 commented on #44
if I not use maven , I must copy many jars into my project's libs folder.
but if all in one jar, I only copy one jar into it.

[2015-12-25 17:46] lefay1982 commented on #44
Yes, one JAR containing http-fast and its dependencies.
maybe name is     rapidoid-http-fast-all.jar

[2015-12-29 15:16] nmihajlovski commented on #41
The fix is available in the 5.0.10 release.

[2015-12-29 15:16] #41 closed

[2015-12-29 15:18] nmihajlovski commented on #42
Thanks again for your feedback.

The exception handling got improved in the 5.0.10 release.

[2015-12-29 15:18] #42 closed

[2015-12-29 15:27] nmihajlovski commented on #44
You make a valid point. It's nice to have all-in-one JARs of both the "Http Fast" and "Web" modules, indeed. Coming soon...

[2015-12-31 02:53] lefay1982 commented on #44
Yes, if   TCP module can use  standalone, also can  have all-in-one JAR.
Good job.

[2015-12-31 02:56] husayt opened #45 "Add brief description to modules"
There are lots of modules here with cool sounding names, will be very useful to at least give some description for them. This will do until there is a proper documentation.

Thanks

[2016-01-06 00:42] tcha8595 commented on #34
+1 to HTTPS support. Can't be used without it for our applications. Having to add a reverse proxy in front means slowing it down for some cases.

[2016-01-18 18:37] yterradas opened #49 "Integration with Dependency Injection frameworks"
hi,

the documentation shows examples of `@Inject` but that is a Rapidoid custom Inject and between 2 `@Controller`s which do not have any complex dependencies.  could you show an example of using Guice, Dagger, or some other DI framework?  if those are not supported then how is dependency injection supported?

thank you

[2016-01-24 13:17] nmihajlovski opened #50 "Memory leaks when starting and stopping the HTTP server multiple times"

[2016-02-04 14:05] adam-arold commented on #38
Do you have any idea when will this be ready? Does it involve JRebel integration somehow?

[2016-02-07 09:50] nmihajlovski commented on #38
This will be ready soon (max. 1 week). It won't use any external tools, just a customized class reloader and a watcher for file system changes.

[2016-02-07 09:51] #43 closed

[2016-02-07 09:53] nmihajlovski commented on #33
Changed to "Extremely Fast, Simple and Powerful Java Web Framework!". :)

[2016-02-07 09:53] #33 closed

[2016-02-07 10:18] #8 closed

[2016-02-07 11:48] adam-arold commented on #38
Do you need some help? Will itt support JRebel?

[2016-02-14 11:19] nmihajlovski commented on #38
Thanks and no worries, I am on it... ;) It should work well with JRebel, too, but we will need to do some testing when it's ready...

[2016-02-14 17:56] tuddman opened #51 "Websocket Support?"
any plans to add websocket support?

perhaps leverage http://java-websocket.org/

[2016-02-14 18:17] nmihajlovski commented on #38
Apologies for the incorrect estimation, the 5.1.0 release will take more time than expected.

[2016-02-14 18:26] nmihajlovski commented on #51
Implementing WebSocket server using Rapidoid Net is planned as Google Summer of Code project idea (if Rapidoid gets accepted).

[2016-02-16 18:20] diziourov commented on #34
+1 and also it would be great if it has good and secure configuration by default (e.g.: [https://wiki.mozilla.org/Security/Server_Side_TLS#Modern_compatibility]).

[2016-02-22 05:00] nkev commented on #34
How about a fully automated HTTPS setup using https://letsencrypt.org/
That would surely make this framework standout as irresistable ;)
There is a cool web server project written in Go called [Caddy](https://github.com/mholt/caddy) that does this really well.

[2016-02-27 17:07] kliakos commented on #35
Just tested this feature and I realized that path params exist within the same Map as URL params. This off course cause the obvious problem that if a URL parameter with the same name is passed, there is a conflict.

Assuming I have the following route:

[code]

And call this URL http://localhost:8888/books/1234?book_id=4567, I get:
`{"book_id":"1234"}`

The URL param is gone.

I don't want to have

[2016-02-27 17:13] kliakos commented on #35
On the other hand many web server frameworks have implemented the path params mixed with the URL params. Sometimes it helps, sometimes not. Not sure which path should this framework follow.

[2016-02-28 09:45] kliakos opened #53 "req.uri() only returns path with query string"
The req.uri() method only returns the path with query string.

We usually refer to the URI as the entire URL of the request.

My expectation would be to return the entire URL, since there already are path() and query() methods to achieve what the uri() does.

What is your opinion?

[2016-03-11 01:34] sebyx07 commented on #38
awesome job. I will soon start a web framework for jruby and want to use rapidoid for the http

[2016-03-13 23:40] sebyx07 commented on #35
really looking forward for this

[2016-03-14 02:08] wenerme commented on #35
I will use rapidoid again when fast-http has url pattern.

@kliakos How about follow JXS-RS's url pattern.

[2016-03-14 08:44] kliakos commented on #35
@wenerme my notice was not about the pattern itself, it was about how the path params are accessed and how they are distinguished from the URL params.

[2016-03-14 08:51] wenerme commented on #35
I think JAX-RS spec answered `how patterns are distinguished from the URL params`,but the api change is unavoidable.

[2016-03-16 02:26] sotoup commented on #29
+1

[2016-03-24 13:13] cosminbasca opened #54 "java.lang.NullPointerException on rapid request issuing"
when I issue multiple requests at the same time (roughly) say press the refresh button in the browser in rapid succession I am seeing this stacktrace in the console:

ERROR | pool-1-thread-7 | org.rapidoid.job.ContextPreservingJobWrapper | Job execution failed! | message=null
java.lang.NullPointerException
	at org.rapidoid.net.impl.RapidoidWorker.close(RapidoidWorker.java:261)
	at org.rapidoid.net

[2016-03-29 06:00] pepri opened #55 "HTTP header keys and values should not be url-decoded"
I have issue when comparing Authorization HTTP header value that contains Base64-encoded string. I found out that the value contains a plus sign that is being converted to a space.

[code]

Currenty, HTTP header keys and values are url-decoded in [FastHttp.java](https://github.com/rapidoid/rapidoid/blob/861c011e76d5a220f65abc5f7f6cc1f71b892ba9/rapidoid-http-fast/src/main/java/org/rapidoid/http/Fas

[2016-04-01 00:13] osrashwan commented on #34
+1

[2016-04-11 15:28] nmihajlovski opened #56 "Stronger security of the random secret?"
As mentioned by Daniel Iziourov:

[2016-04-11 15:30] nmihajlovski opened #57 "Improving the encryption security"
As mentioned by Daniel Iziourov:

[2016-04-12 04:24] pmella commented on #54
Same issue here.

in my case I have the following controller:

`@Controller
  public class NoBullshit {
@GET
  public String hello() { return "Hello Wold";}}`

[2016-04-12 22:05] GuillerDark opened #58 "ElasticSearch support to invoke clients methods"
I'm trying to use elasticsearch inside of the framework but when use http fast restful to create web services and the project have dependencies of elastic it can not invoke the methods of elastic, always crash in the invoke() method in the class Cls.java, i'm searching about this issue but i can't find anything about it, forgive me that it is my mistake but im been trying everything

[2016-04-13 08:11] SyedWasiHaider opened #59 "ClassPathUtil not finding my jars even though they are there"
I am trying to run the basic hello world example from the website but I keep getting the following:

"C:\Program Files\Java\jdk1.8.0_65\bin\java" -Didea.launcher.port=7532 "-Didea.launcher.bin.path=C:\Program Files (x86)\JetBrains\IntelliJ IDEA Community Edition 14.1.4\bin" -Dfile.encoding=windows-1252 -classpath "C:\Program Files\Java\jdk1.8.0_65\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.8.

[2016-04-13 08:20] SyedWasiHaider commented on #59
Nevermind I just used the getting-started sample instead and it seems to work now. However, this behavior is still strange and potentially frustrating.

[2016-04-13 08:20] #59 closed

[2016-04-15 16:14] GuillerDark commented on #58
Settings settings = Settings.settingsBuilder()
        .put("client.transport.sniff", true).build();
TransportClient client = TransportClient.builder().settings(settings).build();

exactly when i call the .build() method on TransportClient builder, Rapidoid can't invoke the method and always crash

[2016-04-15 17:29] korri123 commented on #58
Hey, can you paste the stacktrace from the exception you get?

[2016-04-20 08:00] ajevans85 opened #60 "Problem behind AWS ELB"
Just trialing rapidoid and have an issue deploying on AWS.

This seems to work ok accessing infront of an ELB:

    On.get("/healthcheck").plain("ok");

    $ curl -iv https://...../healthcheck
    * Connected to *** (***) port 443 (#0)
    * TLS 1.2 connection using TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
    * Server certificate: ***
    * Server certificate: DigiCert SHA2 Secure Server CA
    * S

[2016-04-20 12:32] nmihajlovski commented on #60
Looks like the same problem was reported by another user:

Given the situation you both described, the Content-Length header looks like this:
**Content-Length: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9**

This is a valid HTTP header, but it seems that ELB parses it incorrectly. The leading spaces in the header are provided when the response size is dynamic, to avoid double buffering

[2016-04-21 00:30] ajevans85 commented on #60
I did notice the leading content spaces and created a build without them just to check, that didn't seem to work.

Trying leading zeros also doesn't seem to be working. Running from the ec2 instance I can confirm the Content-Length is padded.

    curl -iv  localhost:8080/echo?a=b
    * Hostname was NOT found in DNS cache
    *   Trying 127.0.0.1...
    * Connected to localhost (127.0.0.1) port 80

[2016-04-21 13:48] fourcube commented on #54
Which version of rapidoid are you using? I couldn't reproduce this with neither the current master nor 5.0.12.

[2016-04-21 13:55] cosminbasca commented on #54
I am using 5.0.12

[2016-04-21 13:59] fourcube commented on #54
Which JVM are you using to run your application? (`java -version`)

[2016-04-21 14:05] cosminbasca commented on #54
java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)

[2016-04-21 16:20] nmihajlovski commented on #55
Thanks for reporting this, I fixed it.

[2016-04-23 10:00] cosminbasca commented on #54
this is great @fourcube ! Thanks for the help and info, looking forward for 5.1.0 to be released

[2016-04-27 19:48] nmihajlovski commented on #60
Thanks for your feedback, today I reproduced the problem with AWS ELB and I fixed the bug (5.1.0 will be released soon).

The problem actually wasn't caused by the leading spaces. The Content-Length header value was rendered at incorrect position, so the CR byte of the CR-LF suffix was overwritten, which made this bug hard to notice. Also, the other software (HTTP clients, proxies) is more flexibl

[2016-04-28 12:58] am-td444 commented on #60
I think I came across the same issue with Marathon-lb (HAProxy) and healthchecks within Mesosphere so will follow up once 5.1.0 is released.

[2016-04-29 18:37] pmella commented on #54
Thanks! @fourcube, just to give you more information, this is very easy to replicate. The only thing you have to do is to keep pressed the CTRL+R key combination on chrome, then the issue will appear after some requests.

[2016-05-10 07:32] pepri opened #61 "Header keys should be case-insensitive"
Header key should be case-insensitive when getting header value.

Both values should be same in this case:
[code]

RFC 7230 states: "Each header field consists of a case-insensitive field name followed by a colon (":"), optional leading whitespace, the field value, and optional trailing whitespace."

[2016-05-13 14:50] sagnitude opened #62 ""'404.html' doesn't exist" error when using ReqHandler"
I wrote a simple application with rapidoid-web version 5.1.0:

[code]

But I failed to open the registered url "http://localhost:5432/test" in browser and I got the following exceptions:

[code]

I was running it in Intellij Idea. I also tried to package everything into a single jar including the file "404.html" in "default/templates" directory. But the error remains.

Detailed error log:

[code]

[2016-05-13 22:32] nmihajlovski commented on #62
Thanks for reporting, I fixed the bug (in v5.1.1). Please confirm the fix so I can close the issue.

[2016-05-13 22:33] nmihajlovski commented on #61
Thanks for reporting, I fixed it.

[2016-05-13 22:36] nmihajlovski commented on #34
Unfortunately, the HTTPS support couldn't make it into v5.1. :(

[2016-05-14 01:20] sagnitude commented on #62
Now the error is gone.

[2016-05-14 01:20] #62 closed

[2016-05-16 21:24] nmihajlovski commented on #60
This has been fixed in the recent release of v5.1.0.

[2016-05-16 21:24] #60 closed

[2016-05-16 21:24] #61 closed

[2016-05-16 21:24] #55 closed

[2016-05-16 21:26] nmihajlovski commented on #54
Apologies for the very late reply. This has been fixed in the recent release of v5.1.0.

[2016-05-16 21:26] #54 closed

[2016-05-16 21:27] #35 closed

[2016-05-16 21:27] #38 closed

[2016-05-16 21:28] #56 closed

[2016-05-16 21:28] #57 closed

[2016-05-25 13:53] shoon opened #63 "Need mechanism to detect pending application restart"
When the watcher detects a change the application will be restarted. This appears to cause issues with services (such as database connections) that were not closed or otherwise cleaned up.

My specific example is with a Morphia manager instance/singleton that gets nulled out on application restart but the previous MongoClient is still connected.

[code]

[2016-05-29 18:23] hasanb opened #65 "DATA[arg2] must NOT be null"
@GET
	public String example(double lorem, double ipsum) {
		return "test";
	}
If I do GET /example?lorem=1.0&ipsum=2.0 with the code above, everything is fine.

	@GET
	public String example(double lorem, double ipsum, double dolor) {
		return "test";
	}
Now if I add a third parameter and do GET /example?lorem=1.0&ipsum=2.0&dolor=3.0 it raises an exception:

	java.lang.IllegalArgumentException: DAT

[2016-05-29 18:51] nmihajlovski commented on #65
Hi Hasan, thanks for reporting this, I reproduced the bug and I will try to fix it ASAP...

[2016-05-29 18:54] nmihajlovski commented on #65
Retrieving the param names is tricky and it is the root of this bug. In a meantime, annotating the param as `@Param("dolor") double dolor` will solve the problem.

[2016-05-29 19:37] hasanb commented on #65
Thanks for your fast response and the cool framework. Looking forward for the next version.

[2016-05-29 22:25] nmihajlovski commented on #65
I released v5.1.5 with the fix, should be available soon on Maven Central.

[2016-05-31 09:01] doggie1989 opened #66 "Cannot run after using Gradle to build jar file."

[2016-06-02 06:18] nmihajlovski commented on #66
Can you please provide more context/information?

[2016-06-04 18:16] nmihajlovski commented on #65
Hi, can you please confirm the fix, so I can close this issue? (And thanks!) :)

[2016-06-04 19:41] #65 closed

[2016-06-05 15:19] doggie1989 commented on #66
@nmihajlovski
I can run in eclipse via main(),but after I build a jar, I could not run it.

[2016-06-07 12:25] #63 closed

[2016-06-07 12:28] nmihajlovski opened #68 "JPA config issue picking up the correct profile"
As reported by @SorenKlars:

[2016-06-11 17:08] nmihajlovski commented on #68
Hi, I wasn't able to reproduce this. Could you please try extending RapidoidIntegrationTest (which I added in v5.1.6)?

Few test examples are available in the "getting-started" example project:
https://github.com/rapidoid/rapidoid/blob/master/examples/getting-started/src/test/java/com/example/CRUDTest.java

[2016-06-11 17:15] nmihajlovski commented on #31
This is done with the Admin.* API, which is a mirror of the On.* API.
The default role required for the "Admin.*" routes is "administrator".
By default, the Admin server will be the same as the On server, which is convenient for simple scenarios, when 1 server is enough.
Configuring a custom admin.port will cause a separate server to be started.
The Admin API isn't documented yet...

[2016-06-12 12:35] wmacgyver commented on #66
@doggie1989 are you using gradle's shadow plugin to build a uberjar? because I just tried it and it's working for me

[2016-06-12 16:58] doggie1989 commented on #66
@wmacgyver
Hi Mate,Could you share the build.gradle file?
I was using gradle 'jar' plugin and build cmd.

[2016-06-12 17:13] wmacgyver commented on #66
@doggie1989 ah yea, that won't work. because rapidoid comes with embedded server, so you have to run it as a uber jar.

here is my build.gradle

plugins {
    id 'com.github.johnrengelman.shadow' version '1.2.3'
}

apply plugin: 'java'
apply plugin: 'application'

mainClassName = 'my.app.Main'

repositories {
    mavenCentral()
}

dependencies {
    def rapidoidVersion = '5.1.4'
    def slf4jVersi

[2016-06-12 17:55] doggie1989 commented on #66
@wmacgyver

Thanks brother.
All working well now!!!

I am migrating my app from spring boot...

[2016-06-12 18:09] wmacgyver commented on #66
@doggie1989 yea, you didn't have to do this with spring boot for gradle because the spring boot plugin extends application. so it's silently doing it in the background as magic if you will. we too have moved from spring boot.

[2016-06-13 15:48] GuillerDark commented on #58
i use the 1.7 version of elastic that does not use .build() in the transport client and its work fine, but with the 2.0 and up version have the issue, i loss the stacktrace because with the version I managed to overcome the problem

[2016-06-13 22:50] nmihajlovski commented on #58
Hi, this problem doesn't look related to Rapidoid.

The exception that you see in Cls.invoke is probably caused by some other exception occurring in the "build" method.

Also, the .build()-caller code shouldn't be inside a web handler, please try running it before the setup of RESTful services.

[2016-06-14 19:40] GuillerDark commented on #58
The .build() method is call outside the web handler, but Rapidoid is the one that makes that call on startup invoke to load the init variables like the transport client and others databases clients, also the .builder() is a native elastic method that does not make problems outside rapidoid implementation, the both projects are separated, and works fine when elastic project is standalone, but when

[2016-06-15 00:59] shoon opened #70 "Dev reload of Morphia Entities (related to JPA reload)"
I whipped up a quick demonstration of an issue I'm having with rapidoid-web 5.1.8 in developer mode. The capability of reloading on code change causing issues with Morphia's mapped entities.

In some instances the app detects code change, restarts and a ClassCastExceptions is thrown while using the Morphia Entity classes... other times ObjectId issues creep up (shown in the following project)

[ht

[2016-06-16 10:10] cosminbasca opened #71 "How to stream a response with rapidoid?"
Hi,

I would like to serve a large response which is constructed on the fly (not from a file). How would I go about streaming this response instead of waiting for its complete creation? Thanks,

Cheers,
C

[2016-06-16 12:19] cosminbasca commented on #71
related to issue #40

[2016-06-16 19:02] adam-arold commented on #38
So how do I use it with JRebel?

[2016-06-17 13:22] cosminbasca commented on #40
@nmihajlovski any progress on this issue? It would be very useful to have chunked transfer encoding handled by rapidoid as well. Thanks !

[2016-06-21 19:32] tchoulihan opened #72 "SSL support?"
Does this support SSL in the form of a java key store(.jks) file, or some other means?

[2016-06-22 23:05] nmihajlovski commented on #40
Hi, I didn't make any progress on this yet... It has lower priority since most of the users don't need it.

[2016-06-22 23:10] nmihajlovski commented on #72
Hi, Rapidoid doesn't support SSL/TLS/HTTPS yet. Please take a look at issue #34.

[2016-06-23 15:47] cosminbasca commented on #40
Hi @nmihajlovski thanks for the reply, I understand. Looking forward to seeing support for this in future versions of rapidoid.

[2016-06-23 16:00] procek69 opened #73 "JWT"
Hi,

I didn't find any information about mechanism of JWT authentication.
Anyway, when I study about cookiepack(), I think the JWT and the Rapidoid's cookies and roles system are very similar.

Am I right?

[2016-06-24 22:38] nmihajlovski commented on #73
Hi, yes, the mechanism is similar, the cookiepack stores encrypted and signed data, which can be exchanged with a cookie or a "_token" request parameter.

BTW, the "cookiepack" name was a bad naming choice, it will be renamed to "token" in v5.2.0...

[2016-06-25 08:45] procek69 commented on #73
Thanks

[2016-06-25 08:45] #73 closed

[2016-06-27 14:55] bokesan opened #75 "No annotations found on Windows"
On Windows, `scan.ClasspathUtil` never finds any classes. Log info is always:

    INFO org.rapidoid.scan.ClasspathUtil - Finished classpath scan | time = xxms | search = 0 | found = []

The same jar works fine under Linux.

I think the reason might be using `File.separatorChar` to search in jars (ClasspathUtil.java line 288 in the main branch). This is correct in the filesystem, but `zipEntry.get

[2016-06-27 21:50] nmihajlovski commented on #70
Thanks for the PoC, I am investigating the problem...

[2016-06-28 19:54] nmihajlovski commented on #75
That was the cause of the problem, indeed. Thanks!

[2016-06-29 00:37] procek69 commented on #49
Hi,

You don't need Guice, neither Dagger for DI, just put @Inject before a field (could and may be private one) inside controller, service etc.
To power your code all you need are two annotations: @Singleton and @Service.

[2016-06-30 09:51] bokesan commented on #75
Updated to 5.1.9. Fix works. Thanks!

[2016-06-30 09:51] #75 closed

[2016-07-05 19:03] shoon commented on #70
Thank you - release 5.1.9 has resolved our reloading issue with morphia.

[2016-07-05 19:03] #70 closed

[2016-07-07 21:59] #72 closed

[2016-07-08 00:03] axel22 commented on #31
Is there an example that shows how to start (and later shutdown) multiple server instances that use different ports?

Thanks!

[2016-07-08 00:54] nmihajlovski commented on #31
Hi, here is such example:

[code]
Regards!

[2016-07-08 07:48] axel22 commented on #31
Awesome, thank you.
And thank you for this amazing project!

On July 8, 2016 2:54:59 AM GMT+02:00, Nikolche Mihajlovski <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-07-09 01:30] nmihajlovski commented on #31
You are welcome! :)

[2016-07-09 21:01] cosminbasca opened #77 "url prefix support for rapidoid?"
if it possible to specify a url prefix for rapidoid? This can be useful when running a rapidoid instance proxied via apache under a different prefix. The problem occurs when the response is produced with  GUI.page(...). The internal js and css resources cannot be loaded under the correct prefixed path. A global config option specifying the prefix would be great...

[2016-07-13 19:12] procek69 opened #78 "HTTP 2.0 Support"
Hi,

http 2.0 support could be next benchmark improvement

[2016-07-13 19:12] nmihajlovski commented on #77
I apologize for the late reply.

There is "app.contextPath" configuration entry introduced already, but it's not used/supported in most of the GUI pages, only in the scaffolding GUI.

This is an important issue and I will take care of it soon...

[2016-07-13 19:22] nmihajlovski commented on #58
Can you please provide a simple code that demonstrates this issue?

[2016-07-14 02:54] hulian opened #79 "JPA cannot find entities"
10:49:00.728 [com.example.Application.main()] INFO  org.rapidoid.jpa.JPAUtil - Didn't find JPA entities, canceling JPA/Hibernate setup!

I use maven plugin to exec application , but it show this message , and JPA is not working.

-------------------------------------------------------------------------------------------
Application.java

package com.example;

import org.rapidoid.annotation.Valid;

[2016-07-14 04:05] #79 closed

[2016-07-15 14:16] cosminbasca commented on #77
Thanks a lot @nmihajlovski ! That would be great :+1:

[2016-07-15 18:30] elaatifi opened #80 "Make configurable the merge of json body into data"
First of all thanks for making this server.

from HttpParser.parsePosted
[code]
Can we make it configurable if we want to bypass this part, and control how JSON will be parsed. it does not have sense to parse it twice. for example there is the simple case when we want to parse JSON as a custom type.
_I'm forced right now to use unknown content type in client request to skip this part (to force com

[2016-07-15 23:46] nmihajlovski commented on #80
Hi, currently the API doesn't support such customization, but I am working on it now...

[2016-07-15 23:51] nmihajlovski commented on #80
So, in v5.2 it will be easily customizable, and lazy by default.

[2016-07-16 01:08] elaatifi commented on #80
Oh cool ! thanks again for the great work :)

[2016-07-16 04:34] nmihajlovski commented on #80
Sure, I am happy to work on Rapidoid. Thank you!

[2016-07-17 12:49] elaatifi opened #81 "Include 404 error handling in ErrorHandler instead of HttpIO.write404"
Hello,

One thing that can be enhanced is to include the 404 kinds of errors in ErrorHandler.
in the current state HttpIO.write404 hard code this process. I think it's practical to delegate this to ErrorHandler

All we can do now is to override 404,html in the templates  path.
But we should be able to customize this process i.e. using another template engine, customize the locale or other things

[2016-07-18 04:38] mooman219 opened #82 "Bad request on '..' in GET query parameter"
Going to a valid route with a query parameter that has ".." in it will result in a bad request even though it's completely valid.

For example, `http://localhost:8888/Auth?code=test..` will fail with a bad request, while `http://localhost:8888/Auth?code=test.` will properly route. The handler in question was registered with `On.get("/Auth").plain(new ReqRespHandler() { ... etc`. The error is comin

[2016-07-18 23:41] korri123 commented on #82
This also happens when you try to put @ in the uri

[2016-07-19 00:42] mooman219 commented on #82
Looks right, the @ character is missing here, failing the request: https://github.com/rapidoid/rapidoid/blob/933fc5003295a0f121243856e9a0263ddb200a34/rapidoid-buffer/src/main/java/org/rapidoid/bytes/BytesUtil.java#L39

Medium uses @ iirc, I'm not sure where there are all of these limitations imposed through Rapidoid. I've seen sites use // in their url as well, which is blocked under Rapidoid curr

[2016-07-19 00:44] korri123 commented on #82
You can just override the class (by copy pasting it including the package information), don't have to switch frameworks over this.

[2016-07-19 00:51] mooman219 commented on #82
It's just a prototype, which is why I chose Rapidoid in the first place. I just moved to another nonbiased web framework in the mean time.

[2016-07-19 18:28] mooman219 commented on #82
Specifically, the characters "(tab) ; / ? : @ = &" are reserved and normally shouldn't be in the url under normal cases. Unfortunately, there are many offenders that include google, wordpress, medium, and many others. A separate issue report should probably be opened for that since it's out of spec. The issue I'm having is in spec and should not be failing under normal circumstances.

[2016-07-19 18:30] korri123 commented on #82
According to [this](https://tools.ietf.org/html/std66#section-3.3) @ is not reserved though.

[2016-07-19 18:31] mooman219 commented on #82
It is under this https://tools.ietf.org/html/std66#section-2.2

[2016-07-19 19:41] nmihajlovski commented on #82
When I developed this, increasing the security through such URI limitations (not allowing '/../') seemed like a good idea. For most users this turned out not to be a problem, but when it becomes a problem, I am sure it is frustrating.

I will fix this soon (v5.2 will be released these days), and I will move the security checks to a higher level.

Thanks @mooman219 for raising the issue, and thanks

[2016-07-19 22:01] mooman219 commented on #82
When I get a request with a get parameter that happens to have '..' in it, it should be allowed; '/../' is totally fair to disallowed. When using google oauth, the redirect link gets passed a get parameter that has "somekey=abcdabcd..abcda&" in it, which Rapidoid fails to handle and produces a "bad request".

[2016-07-25 19:42] nmihajlovski commented on #81
Hi, currently the "not found" cases can be handled with a default generic handler, e.g. `On.req(....)`, which gets executed when no other handler matches the route.

I agree about delegating this to the ErrorHandler with a special exception (e.g. NotFound). I will add support for this in v5.2.0 or a bit later...

Thanks for your feedback!

[2016-07-25 21:19] nmihajlovski commented on #82
Thanks for clarifying, somehow I had missed the "query parameter" part of the issue description.

[2016-07-25 22:10] mooman219 commented on #82
Thanks for the update.
As for validating the URL in the first place, it seems more complex than Rapidoid allows for. For example, http://example.com/document/?uri=http://user:password@example.com/?foo=bar is valid, since "/" and "?" do not need to be percent encoded in query strings, and neither do ":" and "@" according to the spec.

I think a larger rework of the URI validation would need to be p

[2016-07-26 00:00] nmihajlovski commented on #82
Sure, I am currently working on the other chars like "@".

I am afraid it's not currently possible to avoid the check without recompiling. Sorry about that.

[2016-08-01 16:11] korri123 opened #83 "JDBI integration - ClassCastException on hot reload with possibe fix"
I am using JDBI with Rapidoid.

**The problem**
When visiting a page that makes database bindings/mapping after hot reloading I get a ClassCastException.
`java.lang.ClassCastException: is.kormakur.site.dao.EntryDao cannot be cast to is.kormakur.site.dao.EntryDao`

**How it happens**
After some Googling I figured out it has something to do with mismatched ClassLoaders, because JDBI holds a cache of

[2016-08-03 22:44] nmihajlovski commented on #83
Hi, thanks for reporting and investigating this issue.

The same problem occurred with Hibernate and Morphia, and I "solved" it by not hot-reloading the changed entity classes.

Once a class is loaded, it can't be reloaded with the same class loader. So, Rapidoid uses a new class loader for each hot reload, which provides a good isolation between different reloading life-cycles.

So, when a hot re

[2016-08-03 22:50] nmihajlovski commented on #83
P.S. Sure, it would be great if you can provide a simple example project.

[2016-08-03 22:53] korri123 commented on #83
Hmm, is there a public method in Rapidoid that does this, so the process is more flexible?

The strange thing is that I could avoid the issue by hot reloading/compiling a random class before creating the entity objects. I was going to hack a fix to this by using reflection to invoke private method App.restartApp() but since that method actually invokes the main method again it just created an endl

[2016-08-04 00:00] korri123 commented on #83
Sorry, after experimenting with creating an example project I discovered that the bug was on my end.

[2016-08-04 01:16] korri123 commented on #83
Well, the bug is still there, but it happens because I use a custom method to bind the classes using reflection instead of beans, which JDBI uses by default. It doesn't happen if you use theirs.

I still think it's worth looking into why hot reloading everything and then running the method that maps the table into the entity fixes the problem, it might fix it entirely without needing to check for

[2016-08-04 18:27] korri123 commented on #83
Discovered something else, projects are essentially hot reloaded before the server restarts the web application. I hot reloaded a class, adding a System.out.println() and refreshed the page before Rapidoid detected the change and it essentially worked. Then it restarted the application and the ClassCastException occured. (I had not applied my personal fix)

[2016-08-04 18:51] korri123 commented on #83
I have discovered that, at least for me, using IntelliJ IDEA, I override App.java, disable calling App.restartApp() and then hot reload freely without it restarting the application. I am using IntelliJ's built in function Reload Changed Classes in the Run menu. I'm not sure if IDEA is doing the reloading for me or not. This fixes the error.

[2016-08-06 09:16] procek69 opened #84 "Path param in @Controller"
Feature: Similiar mechanism like in HTTP annotations:

`@GET("/{id}/subresources")`

but also in

`@Controller("/api/resource/{id}/subresource")`

[2016-08-20 00:15] korri123 commented on #84
Where would the parameters go? would it be mapped to e.g. `int id` as in your case?

[2016-08-20 01:14] nmihajlovski commented on #84
This is already implemented in v5.2. :)

[2016-08-20 01:17] nmihajlovski commented on #84
E.g. the following code will register a handler for `/api/resource/{id}/subresource/abc`:

[code]

[2016-08-20 01:20] korri123 commented on #84
Ah, I see.
By the way I think it's time to update the TechEmpower benchmarks to more realistic Rapidoid code, they [marked it as stripped](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Java/rapidoid), also some people are accusing it of being [misleading](https://www.reddit.com/r/java/comments/4yfkat/which_java_web_framework_is_more_userfriendly/d6npilw?context=3).

[2016-08-20 01:26] korri123 commented on #84
[Stripped](https://groups.google.com/forum/?fromgroups=#!topic/framework-benchmarks/h4IFSXmuATo) means that it will be hidden by default.

[2016-08-20 01:30] nmihajlovski commented on #84
Thanks, I am aware of the problem, I plan to implement the benchmarks using the high-level API very soon...

[2016-08-27 16:09] assafey opened #86 "Dependency Injection into constructor"
Is it possible to @Inject into c'tor with rapidoid?
I am getting error "org.rapidoid.setup.PojoHandlersSetup - Couldn't process bean: class server.controllers.UserController"

Where:

[code]

[code]

[2016-09-02 09:52] sagnitude opened #87 "Unable to visit admin center on windows"
I started a simple server with rapidoid-web version 5.2.0 on a windows machine:

[code]

But when I tried to open `http://localhost:8888` in browser, the following exceptions are thrown:

[code]

It works on mac osx. This problem might be relevant to #62 .

Detailed log:

[code]

[2016-09-02 16:20] shoon commented on #87
Just in general the "**Invalid resource name: page-segments\page-globals.html**" has caused our app to stop working when we transitioned from 5.1.9 -> 5.2.0.

We reverted back to **5.1.9** and all is fine.

[2016-09-02 16:23] shoon opened #88 "Invalid resource name: page-segments\page-globals.html"
Any template fails to render with that error using 5.2.0

[code]

This appears to be the same issue with #87

[2016-09-02 18:57] nmihajlovski commented on #88
Yes, it is most likely the same bug.

[2016-09-03 19:18] nmihajlovski commented on #86
Sorry, this hasn't been implemented yet.

[2016-09-03 19:19] #84 closed

[2016-09-03 19:20] #58 closed

[2016-09-03 19:21] #68 closed

[2016-09-03 19:22] #71 closed

[2016-09-08 08:30] #82 closed

[2016-09-08 13:56] kennynaoh opened #89 "Which files need to be hosted?"
# Hello @nmihajlovski ,

I am the member of [cdnjs](https://github.com/cdnjs/cdnjs) project.
We want to host this library.
But there is a question want to ask.
I want to confirm with you about the main file need to be grab on [github](https://github.com/rapidoid/rapidoid).
Are the main files all under `assets/rapidoid/` this folder?(`rapidoid-extras.css` and `rapidoid-extras.js`)
And are there any

[2016-09-08 17:31] nmihajlovski commented on #89
Hi @kennynaoh ,

Thank you, it would be great to have Rapidoid hosted on cdnjs!

There are 2 files that need to be hosted: `rapidoid.min.js` and `rapidoid.min.css`.
They are in the `rapidoid-html/src/main/resources/default/static` folder.

Best regards!

[2016-09-09 00:58] #77 closed

[2016-09-09 00:58] #80 closed

[2016-09-09 00:58] #81 closed

[2016-09-09 00:58] #87 closed

[2016-09-09 00:58] #88 closed

[2016-09-09 00:59] #31 closed

[2016-09-09 00:59] #32 closed

[2016-09-09 01:00] nmihajlovski commented on #29
I am closing this issue, but I will continue improving the docs. :)

[2016-09-09 01:00] #29 closed

[2016-09-09 01:05] nmihajlovski commented on #44
As the number of modules that could have all-in-one JAR increases, it would be an over-kill to publish such uber-jars for all of them. On the other hand, it would be strange to provide uber-jars just for part of them. Since most users use Maven or Docker, I am canceling this.

[2016-09-09 01:05] #44 closed

[2016-09-09 01:08] nmihajlovski commented on #45
In the meantime, the documentation got better. There are still many things to cover, but I am incrementally updating it.

[2016-09-09 01:08] #45 closed

[2016-09-09 02:51] korri123 opened #90 "Cast an exception when two controllers try to map the same uri?"
I just spent 20 minutes figuring out why one page wasn't displaying something... Turned out I had previously created a `@Page` annotation for the same uri somewhere a while ago and forgotten to remove it 😆 . Would this be a good idea?

[2016-09-10 02:19] kennynaoh commented on #89
@nmihajlovski Thanks!

[2016-09-10 02:33] kennynaoh commented on #89
Hello @nmihajlovski ,
I found that the `rapidoid.min.js` and `rapidoid.min.css` don't exist in some of old versions under `rapidoid-html/src/main/resources/default/static` this folder. (`4.1.0`~`5.1.0` and `rapidoid-0.9.0`~`rapidoid-4.0.3`)
Please help me confirm that.
Thanks for your help!

[2016-09-10 03:03] nmihajlovski commented on #89
Yes, that is correct.
In the previous versions they existed in the `rapidoid-html/src/main/resources/rapidoid/static` folder.
Thank you again!

[2016-09-10 03:37] kennynaoh commented on #89
Thanks!
How about `rapidoid-1.0.1` and `rapidoid-1.0.0`? I can't find it under `rapidoid-html`.
And it doesn't exist `rapidoid-html` this folder in `rapidoid-0.9.0`.
Please help me confirm that.
Thanks for your help!

[2016-09-10 05:29] nmihajlovski commented on #89
That's correct, it doesn't exist in the early versions.

[2016-09-10 05:45] kennynaoh commented on #89
So what files I need to grab in those versions
(`rapidoid-0.9.0`, `rapidoid-1.0.0`, `rapidoid-1.0.1`)
Thanks!

[2016-09-10 08:55] nmihajlovski commented on #89
No JavaScript /CSS files were produced in these early versions.
(In the early period Rapidoid had only a back-end development framework.)

So, please ignore those versions that are missing rapidoid-html.

Thank you again!

[2016-09-10 14:13] kennynaoh commented on #89
Thanks!

[2016-09-12 05:09] kennynaoh opened #91 "Could you offer minified file?"
Hello @nmihajlovski ,
I am the same guy want to discuss with you in cdnjs project.
https://github.com/rapidoid/rapidoid/issues/89

Because both `rapidoid.min.js` and `rapidoid.min.css` you offer are not minified file.
Could you offer the minified file or the source file? we can also minify it.
Thanks for your help!

https://github.com/cdnjs/cdnjs/issues/8398
https://github.com/cdnjs/cdnjs/pull/896

[2016-09-13 03:52] doggie1989 opened #92 "TCP load balancer"

[2016-09-21 14:45] kennynaoh commented on #91
@mmihajlovska
How do you think ?

[2016-09-25 15:18] korri123 opened #93 "Req.cookie(value) returns cookie with path=/ appended"
For example, say I save a cookie, by doing resp.cookie("name", "john"), then I want to retrieve it again later I do req.cookie("name") I will get johnpath=/ back

[2016-09-26 23:56] nmihajlovski commented on #93
Thanks for reporting this, I am fixing it now.

[2016-09-29 03:33] #93 closed

[2016-09-29 03:36] nmihajlovski commented on #90
Apologies for the late reply.

Yes, this would make sense for the bean annotations.

In the low-level routes mechanism, it is possible to override a route by registering another handler, so collisions are expected.

[2016-10-08 20:55] IRus opened #94 "Server response with 404 about 30 seconds."
Hi

I tried org.rapidoid:rapidoid-quick:5.2.5 and `CustomHttpServer` from tutorial. It's works fine until we send request with responses with HTTP 404:

[code]

This is very strange. Looks like connection not closed because of keep-alive.

[2016-10-08 21:03] IRus opened #95 "Keep Alive is true, even if 'Connection: close' passed"
I used sample server from documentation. I found bug with HTTP 404 status, and when debugging it found that server still detecting connection as keep-alive even if `Connection: close` header passed.

[2016-10-31 11:22] IRus commented on #94
@nmihajlovski hi, do you have time to take a look at this?

[2016-11-06 14:11] doggie1989 opened #96 "if the return type is String,it should not be returned with Quotation Marks"
if the return type is String... it returns like

"{ \"name\":\"jackson\"}"

it should not be like this...

[2016-11-07 13:48] panchekhin opened #97 "Missing utf-8 charset in json response header"
According to http://www.rapidoid.org/rendering-a-http-response.html calling Resp json(...) sets Content-Type: application/json; charset=utf-8. But it doesn't set charset=utf-8 actually.
I suppose this is because of error in MediaType class:
public static final MediaType APPLICATION_JSON = create("application/json", "json", "map");
(call to create instead of createUTF8)

[2016-11-08 18:22] nmihajlovski commented on #97
Thanks for reporting this.

Actually the documentation was not updated, so I corrected it. The `utf-8` encoding is implicit for the `application/json` content type.

[2016-11-11 19:41] doggie1989 commented on #66
@wmacgyver hi mate, now I have some static files in static folder, when I start Rapidoid in eclipse,it works,but it does not work after packing it and run via java -jar...it looks that the static files have not ben packed into jar...do you know how to solve it?

[2016-11-11 20:15] doggie1989 opened #98 "CORS support."

[2016-11-13 20:46] nmihajlovski commented on #94
Thanks for reporting the bug, and sorry for the late response. :(

There was an extra empty line in the pre-constructed HTTP response.

[2016-11-13 20:47] nmihajlovski commented on #95
Hi, thanks for reporting this, and sorry again for the delay.

[2016-11-15 10:18] #95 closed

[2016-11-15 10:18] #94 closed

[2016-11-15 10:19] #97 closed

[2016-11-21 14:19] asafm commented on #49
@procek69 That's a bit too much to say. There are lot of thing to control when using a DI. I don't see any reason why this framework won't support Guice or Spring. It should be a simple interface which provides an implementation of the Controller class, which then rapidoid will do its magic to transform it into a RequestHandler.
I don't understand the motivation to develop your own implementation

[2016-11-22 17:38] yterradas commented on #49
@procek69 injection of private fields is an anti-pattern because it hides dependencies thus making tests impossible without exposing such fields.  does rapidoid's DI support integration with other DIs?

[2016-11-25 16:30] nmihajlovski commented on #49
It is already possible to provide any controller to Rapidoid, like in this example:
http://www.rapidoid.org/high-level-annotation-based-pojo-controllers.html

This approach allows the users to manage the components however they like, but it is not an elegant way to integrate with the DI frameworks.

In the upcoming v5.3 release there will be generic API for integration with any DI framework (and a

[2016-11-25 16:53] nmihajlovski commented on #96
Please use `Resp#body` for pre-rendered JSON response.

For more details please see the referenced commit.

[2016-12-07 22:47] hasanb commented on #98
You can use the following:

[code]

[2016-12-14 16:00] ferrerojosh opened #99 "XML response support"
This will be good for porting to rapidoid on legacy systems.

[2016-12-15 02:44] azell commented on #78
Perhaps https://github.com/jooby-project/jooby/issues/418 can yield some insight on interacting with Netty for HTTP/2.

[2016-12-30 09:20] BBBDoWell opened #100 "how to upload the file or image."
the HttpReq class has a method file(), this will return a Upload class , the Upload class has tow attribute "filename" and "content" , but the filename always is blob .  i could't get the file size and when i save the content local file which size is larger more than source file . so ,  what i should to do ? thank you .

[2017-01-03 03:15] #100 closed

[2017-01-20 07:55] EveryIsNormal opened #101 "Chinese path access static resource"
Chinese path access static resources can not be accessed, because you write regular expressions can not match the Chinese, thank you.

[2017-02-17 23:13] wmacgyver opened #102 "google group posting disabled?"
I just tried to post to the google group, and it failed. I couldn't do it either using the email interface nor the web interface.

looking at the group, it looks like it's set to
============
Access
Anyone can view content.
Anyone can apply to join.
Only managers can post.
Only members can view the list of members.
============

[2017-02-17 23:14] wmacgyver opened #103 "Couldn't load template: error.html?"
I just upgraded to 5.8

I'm only using http-server, since it's just REST only app

since upgrade I notice with every request, I get

Caused by: java.lang.RuntimeException: Couldn't load template: error.html
in error log

I assume this is because of the new template engine that's in place.

is this an intended change of behavior?

[2017-02-17 23:18] korri123 commented on #103
Create a file called error.html with your other templates, it should fix it.

[2017-02-18 00:02] wmacgyver commented on #103
@korri123 I know that would. that's not the reason I'm asking the question. for a REST app, it's possible that you may not have template. or may not use the builtin template engine that came with rapidoid.

yes I can create the file to make the error go away, but my question is, is this change intentional? because a new user that is trying rapidoid for the first time most likely won't have this fi

[2017-02-18 10:41] nmihajlovski commented on #103
Hi, this is not intentional, thanks for reporting it. I will fix it and release 5.2.9 this weekend.

[2017-02-19 13:17] nmihajlovski commented on #102
Thanks, I had accidentally mis-configured the permissions, trying to prevent spam. I fixed this now.

[2017-02-19 13:24] #96 closed

[2017-02-19 13:24] #91 closed

[2017-02-19 13:24] #66 closed

[2017-02-20 23:37] wmacgyver commented on #103
@nmihajlovski works great. error went away. thank you.

[2017-02-22 12:53] nmihajlovski commented on #103
Great, thanks!

[2017-02-22 12:53] #103 closed

[2017-02-22 12:54] #102 closed

[2017-03-04 01:51] azell opened #104 "Compare caching implementation with Caffeine"
It might be simpler to drop in https://github.com/ben-manes/caffeine that writing your own cache implementation.

[2017-03-05 03:25] ben-manes commented on #104
A quick [benchmark](https://github.com/ben-manes/caffeine/wiki/Benchmarks) shows the new cache to be about 2x the throughput of a synchronized LinkedHashMap in LRU mode. Its crawling thread skews benchmarks a bit as there doesn't appear to be a clean way to halt it afterwards, which hurts other caches by stealing its cpu time. So I can't check this in as it is too disruptive to my tooling.

|Bench

[2017-03-09 11:40] sagnitude opened #105 "Massive file descriptor usage detected on CentOS 7.2 and Ubuntu 14.04"
I noticed that on CentOS 7.2 systems, rapidoid is using many file descriptors while handling requests.

I use `lsof | wc -l` to monitor opened file descriptors.

Tested rapidoid version: 5.3.2
Tested JDK: Oracle JDK 1.7 and 1.8 (64bit).

Tested server code:

[code]

The following tests are repeated for several times and the results are almost the same. So the newly created file descriptors should

[2017-03-09 13:21] nmihajlovski commented on #104
I apologize for the late reply.

The benchmark results for Caffeine look impressive, congrats! It would be nice to see the same benchmarks executed with 256 / 512 / 1024 threads, just to check for performance degradation.

I am going to provide an easy way to stop the crawling thread, and I will write again when it is ready. It would be great to see Rapidoid cache officially in the benchmarks. :)

[2017-03-09 14:04] nmihajlovski commented on #105
Thank you for the detailed report. I am investigating this now...

[2017-03-09 15:14] nmihajlovski commented on #105
Looks like they are the same file descriptors, just repeating in the list many times - for each thread.
E.g. in new_openfiles_while_serving_requests_centos_7_2.txt there are 384 threads x 107 descriptors in average, but the number of unique descriptors seems to be 217:

[code]

Can you please check the number of open file descriptors using:
`ls /proc/<process-id>/fd | wc -l`

[2017-03-09 15:46] ben-manes commented on #104
Perhaps then you might prefer embedding [ConcurrentLinkedHashMap](https://github.com/ben-manes/concurrentlinkedhashmap) instead. That was a popular library that we ported parts into Guava to add caching functionality. It's small and easy to embed, e.g. Groovy. Most users, e.g. Cassandra, have upgraded to Caffeine. CLHM doesn't use any threads and amortizes maintenance on calling threads.

That wou

[2017-03-10 00:50] sagnitude commented on #105
The result is 84. I checked the versions of `lsof` I used.

|Tested machine| lsof version|
|-|-|
|1|4.82|
|2|4.82|
|3|4.87|
|4|4.86|
|5|4.86|
|6|4.87|

It seems in some version between (4.82, 4.86], lsof started to display open files per thread. But I can't find this in the official changlog.

I found a related issue here https://github.com/draios/sysdig/issues/300 .

[2017-03-10 14:07] Wick3r opened #106 "Async requests behave strange"
First of all: I am not sure if this is a bug in the framework or one in front of the display..

Assume the following code, which should answer a request after a 5 second delay:

[code]

Request: `http://localhost/id?value=123` (both requests are identically)
I do start two requests "simultaneous" from my webbrowser - the first response comes after 5 seconds, the second one after additional 5 secon

[2017-03-12 11:09] #105 closed

[2017-03-12 19:43] nmihajlovski commented on #105
Thanks, it's good to know that!

[2017-03-12 19:54] nmihajlovski commented on #106
This is a browser thing. Tracking the requests in the browser shows the second request starts only after the first is complete.

[2017-03-12 19:57] #89 closed

[2017-03-13 14:23] Wick3r commented on #106
Confirmed that this is a browser thing. Thanks for helping out!

[2017-03-13 14:23] #106 closed

[2017-03-16 09:33] EveryIsNormal opened #107 "JdbcClient runQuery not implemented!"
[code]

[2017-03-16 15:32] nmihajlovski commented on #107
Hi, currently only Results#all() can be used, as it doesn't require paging. The JDBC paging would append something like " limit ? offset ?" to the SQL, but it is an early draft and is not implemented yet.

[2017-03-17 20:25] honorcode opened #108 "On.address("127.0.0.1").port(9999) - chained method .port does not work"
As is from your own current doc and examples:
http://www.rapidoid.org/more-control-over-the-http-server-setup.html
This does not work in v5.3.3.

[2017-03-17 20:26] honorcode opened #109 "On.address(addr) and On.port(port) does NOT apply values when used after App.bootstrap(args) with config defaults"

[2017-03-17 20:28] honorcode opened #110 "Props for all your work here, would love to use it more but need MORE/BETTER correct docs and examples."

[2017-03-17 20:36] honorcode commented on #109
v5.3.3

[2017-03-20 11:50] nmihajlovski commented on #110
Hi, I am currently working on improving / re-structuring the docs. As soon as the new docs are published, I will write here again...

[2017-03-20 11:54] #101 closed

[2017-03-20 12:22] nmihajlovski commented on #104
Thanks for sharing the resources/slides, the design/architecture looks smart and interesting.

Since Rapidoid's built-in cache is already good-enough as a default, I wouldn't switch to CLHM, because it requires significant effort for me to reimplement the same features again on top of CLHM.

Last week I made some improvements and implemented proper resource clean-up of the Rapidoid's cache. Starti

[2017-03-20 12:24] #86 closed

[2017-03-20 13:28] ben-manes commented on #104
I'll try to get to it in the next day or two. If you'd like to take a stab at it, see this [commit](https://github.com/ben-manes/caffeine/commit/a1672e68c9a767aee6477da6b039e0878e5f9f11) adding ExpiringMap. The only difference would be to override default methods to call shutdown.

[2017-03-20 16:42] nmihajlovski commented on #104
Sure, I would give it a try later this week...

[2017-03-22 08:38] hestad opened #111 "Chrome reports https://www.rapidoid.org as insecure"
Don't know where else to post this. Move/delete it if it's unrelated to this github repo.

[2017-03-28 08:07] lanphan opened #113 "benchmark question"
Hi,
I see that Rapidoid got a very impressive benchmark in Round 11 & Round 12 / 2016. However, the result in Round 13 / 2016 was dropped drastically ... Is there any reason for this drop?

I'm looking for a high performance web framework, and see that Rapidoid is a very good one ... Just benchmark seems not correct in Round 13, so that I post question here.

[2017-03-28 08:54] lanphan opened #114 "hikaricp jdbc connection pool"
Hi,

I think that hikaricp is a new star in high performance JDB connection pool, and it's better than c3p0. Do you have plan to use hikaricp instead?

[2017-03-28 12:41] hestad opened #115 "Admincenter documentation is outdated"
http://www.rapidoid.org/admincenter.html

Using version 5.3.3, App.bootstrap().adminCenter() is not valid anymore.

Do you have a small working example of the admincenter? Preferably using rapidoid-http-server

[2017-03-28 20:37] mooman219 opened #116 "RouteOptions.managed() undocumented"
Requesting some background on .managed() for RouteOptions. Since it's being used in Techempower's benchmark yet is left unreferenced on Rapidoid's home page, it doesn't appear to be idiomatic rapidoid and exposes a special striped implementation. It would be nice to know what limitations that stripped implementation restricts on to achieve the performance that is shows in benchmarks.

[2017-03-29 08:57] nmihajlovski commented on #114
Hi, currently I am testing Hikari, so it will be add very soon...

[2017-03-29 09:11] nmihajlovski commented on #113
Basically Rapidoid's security measures (pipeline limits) blocked the requests from processing for the Plaintext test. The pipeline limit was set to 10 as a default, and Round 13 used pipeline size of 16. Also, previously the Techempower guys had accidentally broken Rapidoid's benchmark implementation, so it didn't execute in the Preview run, thus I didn't really have a chance to investigate and fi

[2017-03-29 09:20] nmihajlovski commented on #116
This was elaborated on the mailing list, I will put it in the docs today:

The request processing can be done in a "managed" and "unmanaged" way.
 - Managed (the default): each request will be handled inside a job executed on the executor service (using Jobs.*). - this is the most powerful option, featuring transaction management and access control.
 - Unmanaged: every request is handled on the I/

[2017-03-29 09:22] nmihajlovski commented on #115
Please use `App.bootstrap(args).adminCenter();`

[2017-03-29 09:30] nmihajlovski commented on #53
Apologies @kliakos for the very late answer on this.
I think it's good for uri() to remain as it is, and I will consider adding url() in future to return the entire URL.

[2017-03-29 09:32] nmihajlovski commented on #111
Thanks for reporting this, I will take care of it soon...

[2017-03-30 01:01] nmihajlovski commented on #116
Please take a look at the new docs:
http://www.rapidoid.org/docs.html#_performance_and_scalability

[2017-03-30 01:28] honorcode commented on #110
Awesome, thanks I’ll check them out.

From: Nikolche Mihajlovski <notifications@github.com>
Reply-To: rapidoid/rapidoid <reply@reply.github.com>
Date: Wednesday, March 29, 2017 at 6:00 PM
To: rapidoid/rapidoid <rapidoid@noreply.github.com>
Cc: Roger Vandusen <roger.vandusen@ticketmaster.com>, Author <author@noreply.github.com>
Subject: Re: [rapidoid/rapidoid] Props for all your work here, would lo

[2017-03-30 03:35] mooman219 commented on #116
That looks awesome! Thank you.

[2017-03-30 12:58] nmihajlovski commented on #111
This is fixed now.

[2017-03-30 12:58] #111 closed

[2017-03-30 14:12] hestad commented on #111
I think it's complaining about an image as well? Perhaps the svg?

[2017-03-31 02:35] jedy-tian commented on #105
同一台server，运行不同版本的lsof 运行时间和得出的结果是不同的，究其原因是因为，新版本的lsof 默认打印TID（-K 参数），
更坑的是这个参数不可关闭。就是说-K 参数默认开启，还不能关闭，这个参数就是个摆设

1、抓取进程连接数，使用lsof -p pid 或 ls /proc/$pid/fdinfo/ | grep '^[0-9]'| wc
2、抓取系统连接数，cat /proc/sys/fs/file-nr
3、lsof -ad^0 |wc

[2017-04-02 16:47] #116 closed

[2017-04-02 16:47] #113 closed

[2017-04-02 17:01] nmihajlovski commented on #109
If during the bootstrap the server is started, then after that is will be too late to configure the port or address.
Calling `App.bootstrap(args)` itself doesn't cause any problems if the server is not started.

[2017-04-03 00:32] #114 closed

[2017-04-03 00:33] #108 closed

[2017-04-04 09:39] thhart commented on #79
Why closed silently? What was the resolution? I have the same problem, I guess it is a classpath problem when the entities not reside in the main package.

[2017-04-04 10:02] thhart commented on #79
I had to scan my custom package in advance like this:

[code]

[2017-05-15 20:46] korri123 opened #117 "Template errors and other stuff"
I noticed that if I have a file called login.html in my templates folder it will override the admin center login, loading my own page instead. I think to myself alright no big deal I'll rename it to something else.

Then I tried again to access the admin center but I couldn't since I was using JMustache as a page renderer and the admin center html files are templated using Rapidoid's built in page

[2017-05-29 01:36] james80 opened #118 "Cannot use Rapidoid with custom classloader."
On version 5.3.4 of 'http-server', I'm attempting to build a unikernel with Unik using Rapidoid.

I get the following exception when starting the unikernel:
[code]

The OSV class loader implements the java.lang.ClassLoader but not java.net.URLClassLoader.

[2017-06-01 17:32] nmihajlovski opened #119 "Admin credentials are bootstrapped in dev mode even if no admin setup is configured"

[2017-06-07 12:20] #118 closed

[2017-06-07 12:20] #119 closed

[2017-06-07 12:21] #49 closed

[2017-06-07 12:23] #109 closed

[2017-06-07 12:25] nmihajlovski opened #120 "JDBC paging"

[2017-06-07 12:27] nmihajlovski commented on #107
Related to #120 .

[2017-06-07 12:28] nmihajlovski commented on #120
The JDBC paging would append something like " limit ? offset ?" to the SQL.

[2017-06-27 20:49] richarddd opened #122 "getMethodParameterNames can't retrieve the parameter names"
Hi,

`names` array is becomes empty after trying to resolve using `codeAttribute != null` block

Debugging and settings correct names explicitly works.

Bug in:

[code]

`offset` is 1 so `index` starts at -1. This results in `names` not always being set and throws exception

See screenshot: `var` is `user` but `index` is -1
http://i.imgur.com/Wy0xAHy.png

[2017-06-28 10:39] Haloka opened #123 "fix Resp header date messy code"
-- response --
200 OK
Server:  Rapidoid
Date:  ææä¸, 28 å­æ 2017 01:08:34 GMT
Content-Type:  application/json
Content-Length:  4

package org.rapidoid.commons.Dates;
[code]
to
[code]

result

 -- response --
200 OK
Server:  Rapidoid
Date:  Wed, 28 Jun 2017 09:30:33 GMT
Content-Type:  application/json
Content-Length:  4

[2017-07-05 13:10] nmihajlovski commented on #123
Thanks!

[2017-07-05 13:21] nmihajlovski commented on #122
Thanks for reporting this. The parameters name retrieval turned out to be surprisingly hard, as it depends on the compiler used.

Could you please provide more information about how to reproduce this bug?

Specifying the JDK / compiler used and the method signature will be very helpful.

[2017-07-11 07:26] z589533 opened #124 "Error when running the JPA example from the official website?"
![image](https://user-images.githubusercontent.com/12063612/28055836-431a018c-664d-11e7-9983-eb4043f288a7.png)

[2017-07-11 07:27] z589533 commented on #124
INFO ] 2017-07-11 15:24:46,320 - - [server1] [org.rapidoid.http.impl.HttpRoutesImpl] GET /books                                     | setup = main | roles = [] | transaction = NONE | mvc = false | cacheTTL = 0
 [INFO ] 2017-07-11 15:24:46,330 - - [server1] [org.rapidoid.http.impl.HttpRoutesImpl] POST /books                                    | setup = main | roles = [] | transaction = NONE | mvc =

[2017-07-11 07:27] z589533 commented on #124
![image](https://user-images.githubusercontent.com/12063612/28055874-724730c4-664d-11e7-9a9c-00420b974e60.png)

[2017-07-11 07:27] z589533 commented on #124
![image](https://user-images.githubusercontent.com/12063612/28055888-81fa9fc4-664d-11e7-82e1-7c043c13a03c.png)

[2017-07-11 14:55] cosminbasca opened #125 "page containing form is requested twice when pressing the form button, looses the posted parameter the second time it is reloaded."
Hi,
I have a very simple form, with one field and one button, the field is a drop down. When I click the button I extract the posted field param from the req.posted map and regenerate the page based on the response. This used to work on rapidoid 5.0 but not so much on 5.3, the culprit seems to be that 2 requests are made when the button is pressed once. Am I doing something wrong? What is the rapi

[2017-07-16 19:47] nmihajlovski commented on #125
Hi, can you please provide a small example that reproduces this issue?

[2017-07-26 14:53] picaron opened #126 "Ability to convert IllegalArgumentException as an HTTP 400 (Bad Request) response"
Currently, if we return `null` from a controller, the response is automatically translated to a `404 not found` which is very convenient. However for any thrown errors, the response is converted to a 500 internal server error.

However, when designing a REST API, it is very common that we want to return a 400 Bad Request because the client request parameters are invalid.

It would be more useful i

[2017-07-27 16:29] picaron opened #127 "Cannot configure JPA to use Hikari"
I would like to use Hikari instead of c3p0 but I can't get it to work.

It always seems that c3p0 gets picked up.

I tried adding the hibernate-hikaricp dependencies but it always seems ignored because c3p0 configurations are detected in the built-in configuration.

[2017-07-28 15:08] #127 closed

[2017-07-28 15:30] picaron commented on #51
is this still on the dev roadmap?

[2017-07-31 09:30] nmihajlovski commented on #126
Hi, please take a look at `On.error(...)`. E.g. https://github.com/rapidoid/rapidoid/blob/75e52914e9982d25f7335639a705c89e6be1f249/rapidoid-integration-tests/src/test/java/org/rapidoid/http/CustomizationTest.java#L110

[2017-07-31 09:42] nmihajlovski commented on #117
Sorry for the late reply!

I understand this must be frustrating, but the integration with third-party template libraries (still) has lower priority, so I can't make any guess when this issue will be resolved.

[2017-07-31 09:46] #122 closed

[2017-07-31 10:41] nmihajlovski commented on #124
Sorry, I wasn't able to reproduce this error.

Can you please provide more information about how to reproduce this bug? (Rapidoid version used, JDK version, does it happen only after code change / application reloading?)

[2017-07-31 10:51] #115 closed

[2017-08-02 12:28] picaron commented on #126
Hi, that seems to do what I need
Thanks!

[2017-08-03 12:25] nmihajlovski opened #128 "Atomic application start-up"
As reported by @picaron, during dependency injection JPA is still not bootstrapped, which makes in inaccessible upon bean initialization.

To resolve this, the PostConstruct-annotated methods should be called after JPA bootstrap, but before HTTP server bootstrap.

[2017-08-03 12:36] #34 closed

[2017-08-03 12:36] #40 closed

[2017-08-03 12:36] #107 closed

[2017-08-03 12:36] #120 closed

[2017-08-03 12:36] #123 closed

[2017-08-03 12:37] nmihajlovski opened #129 "Simplify Hibernate bootstrap"

[2017-08-03 12:48] nmihajlovski opened #130 "Make Hikari the primary JDBC connection pool"

[2017-08-03 14:43] #130 closed

[2017-08-03 14:44] #129 closed

[2017-08-03 18:46] #128 closed

[2017-08-03 20:25] picaron commented on #126
Hi @nmihajlovski !

I'm reopening this because using the `On.error(...)` handlers doesn't work when using POJO annotation based controllers.

[2017-08-03 21:01] picaron commented on #128
geez, that was fast ! 👍

[2017-08-07 13:33] nmihajlovski commented on #128
Thanks! :)

[2017-08-07 14:41] nmihajlovski opened #131 "Missing context path in the paging uri"

[2017-08-07 17:23] #131 closed

[2017-08-08 02:55] picaron commented on #126
Hi @nmihajlovski ,

Thanks for the fast follow-up

I tried updating to 5.4.1, I still have the same issue. The errors I throw are not handled by my custom handlers.

My POJO controller isn't registered using App.beans, I'm using the `@Controller` annotation. Also the REST endpoint are annotated using @Transaction

[2017-08-08 03:43] picaron commented on #126
One more interesting behavior:

If before setting up my On.error handlers I configure a My.wrappers handler, then my On.error handlers will work 😮

[2017-08-10 18:24] ivanviragine opened #132 "Couldn't retrieve the parameter names"
Hi!

A strange "Couldn't retrieve the parameter names" exception is showing when using this simple construction:

[code]

When directly calling "OpenGraphService.instance().getOpenGraphObjectFromUrl(url)" (commented) everything works ok, but when calling "openGraphService.getOpenGraphObjectFromUrl(url)", I'm getting:

[code]

Any clues?

[2017-08-10 19:42] ivanviragine commented on #97
@nmihajlovski how can I set the charset using this kind of construction:

`On.get("/opengraph/").json((String url) -> OpenGraph.i().getOpenGraphObjectFromUrl(url));`

?

[2017-08-12 08:24] nmihajlovski commented on #97
You can also have the response as parameter, e.g. `(String uri, Resp json) -> ...`

[2017-08-12 08:43] nmihajlovski opened #133 "Transaction wrappers prevent the execution of custom error handlers"
As reported by @picaron:

[2017-08-12 08:46] nmihajlovski commented on #126
Hi @picaron, I created a new issue for this (#133).

[2017-08-12 08:55] nmihajlovski commented on #132
Hi, thanks for reporting this!

It is hard to retrieve the parameter names in a robust way, since the bytecode depends on the compiler used (e.g. the behavior might be different when running through the IDE vs. running through Maven, depending on the compiler).

Can you please provide more information about how to reproduce this bug (JDK version, compiler used, exact Maven dependencies for the exa

[2017-08-12 17:43] picaron commented on #126
Ok thanks for the follow-up @nmihajlovski

I'll close this one then.

[2017-08-12 17:43] #126 closed

[2017-08-13 06:04] cnuonline commented on #39
This is must for making using for Restful documentation and lamba services need quick documentation

[2017-08-13 14:34] cosminbasca commented on #125
Hi @nmihajlovski, thanks for your question and sorry for the late reply, here is a minimalistic example:

[code]

the basic idea is to select a value from a dropdown and have the page render differently based on what is selected, I want this to be  form since in addition to the dropdown, there may be other knobs to play with. Thanks for you help,

Cheers!

[2017-08-13 14:41] cosminbasca commented on #125
the behavior that I am seeing is that on clicking the form button, I get the page rendered based on what is selected, but the page ends up reloaded (as a get) and since the form params get lost in the reload, the result of executing the form is not shown, this used to work on an older version of Rapidoid as I mentioned above

[2017-08-14 09:18] cosminbasca opened #134 "404 response from http://cdn.jsdelivr.net/rapidoid/5.4.1/"
I am getting 404's from http://cdn.jsdelivr.net/rapidoid/5.4.1/
with *Couldn't find the requested release version 5.4.1.*

for the following:
- http://cdn.jsdelivr.net/rapidoid/5.4.1/rapidoid.min.css
- http://cdn.jsdelivr.net/rapidoid/5.4.1/rapidoid.min.js
- http://cdn.jsdelivr.net/rapidoid/5.4.1/rapidoid.min.js
that leads to a cascade of js errors and various rendering styling and interaction iss

[2017-08-14 11:14] nmihajlovski commented on #134
JSDelivr had introduced some breaking changes. I am adjusting the CDN URLs...

[2017-08-14 12:57] #104 closed

[2017-08-14 12:58] #110 closed

[2017-08-14 13:00] nmihajlovski commented on #83
@korri123 JDBI integration is unlikely to be supported by Rapidoid in foreseeable future. I am closing this one...

[2017-08-14 13:00] #83 closed

[2017-08-14 13:02] nmihajlovski commented on #24
This is obsolete, I am closing it...

[2017-08-14 13:02] #24 closed

[2017-08-14 13:02] #53 closed

[2017-08-14 13:07] nmihajlovski commented on #125
Thanks @cosminbasca for all this information. I will try to investigate this soon after the v5.4.2 release.

[2017-08-14 13:15] nmihajlovski commented on #51
Sorry, trying to implement the WebSocket protocol would increase Rapidoid's scope too much.

[2017-08-14 14:22] cosminbasca commented on #125
Thanks ! Looking forward to it :+1:

[2017-08-14 16:35] nmihajlovski opened #135 "Increase GUI flexibility in the YAML+SQL layer"
- The GUI widgets should be more configurable.
- The data / results should be also exposed in the model, similar to the widgets.

[2017-08-14 17:37] #135 closed

[2017-08-15 17:03] artemik opened #136 "No info about org.rapidoid.net.Protocol#process"
Absolutely no info about `org.rapidoid.net.Protocol#process`.
How it works? What is it supposed to do? Lifecycle?

[2017-08-16 12:55] ivanviragine commented on #97
Thanks for the reply @nmihajlovski !

Since lambdas expects parameters of the same type, I can't do that.
Or am I missing something?

[2017-08-21 07:43] AnarSultanov opened #137 "Return result without rendering."
Hello,
I need to return a response without additional rendering, but did not find such functional.
I will try to describe in which cases I need this and maybe you will be able to prompt some solution:
1. I need very fast server to handle a lot of requests per second but rendering json from objects takes time, so I prepare json strings and want to return them on request without additional rendering

[2017-08-22 17:07] nmihajlovski opened #138 "Response properties are ignored by unmanaged handlers"

[2017-08-23 06:07] #137 closed

[2017-08-23 09:48] nmihajlovski commented on #136
Hi, please take a look at this: https://www.rapidoid.org/net.html

[2017-08-23 09:50] #133 closed

[2017-08-23 09:50] #134 closed

[2017-08-23 09:53] #124 closed

[2017-08-23 17:57] nmihajlovski commented on #125
I investigated this today, and there is some bug in the data binding (at least for the dropdown component).

The double request was intentional, solving some specific update-then-refresh scenarios. The form values are sent 2 times, to this shouldn't be a problem. E.g. when using a text input the binding works fine:

[code]

I will need a significant time to revise and rethink the whole GUI layer l

[2017-08-29 20:33] #136 closed

[2017-08-29 20:33] #138 closed

[2017-08-30 16:33] nuwansa opened #141 "Server-Sent Events support"

[2017-09-28 14:29] #132 closed

[2017-09-28 20:10] cyterdan commented on #99
Hi, big fan of rapidoid !

I'd like to give this a go, any indications on how to proceed?

I've identified the following :

- add xml(...) methods to OnRoute.java
- add interfaces and default implementations for XMLResponseRenderer and XMLRequestRequestBodyParser
- ???
- update tests and doc

[2017-09-28 20:28] nmihajlovski commented on #99
Hi, it's great to hear that, thanks!

Yes, basically that sounds like a good plan. Please take a look at `org.rapidoid.data.XML`, the default implementation should use that. And `org.rapidoid.http.customize.Customization` would have the new interfaces included.

Also, `XMLRequestRequestBodyParser` was probably a typo, you mean `XMLRequestBodyParser`, right?

Cheers and good luck!

[2017-09-28 20:39] cyterdan commented on #99
Yep typo :)

Ok then I'll let you know how it goes

[2017-09-29 17:49] cyterdan commented on #99
Since jackson is already used for Json, I was thinking it would be better to use jackson-dataformat-xml to serialize instead of Jaxb used in `org.rapidoid.data.XML`

[2017-09-29 18:57] nmihajlovski commented on #99
Sure, sounds reasonable!

[2017-10-03 21:39] cyterdan commented on #99
Currently the response content-type for errors defaults to json (or html if the module is loaded). I'm wondering how to handle this when writing an XML API.

1. make the default `contentType` a field in `org.rapidoid.http.customize.Customization` with the default being json, allowing the user to set it to xml (but then it's a bit confusing because of the html part)
2. leave the `contentType` as js

[2017-10-03 22:28] nmihajlovski commented on #99
That is a very good point!

I am afraid [1] would be outside the scope of this issue, and it won't really solve the problem, since some setups could have multiple handlers with different content type. So for now it's OK not to do anything special about it, and leave it to the users customize the error handling as they wish.

Thanks for raising this concern! :+1:

[2017-10-08 19:09] ben-manes opened #142 "JDK9 - MethodParameters warning"
Compiling my project with Java 9 produces warnings like,

/Users/ben/.gradle/caches/modules-2/files-2.1/org.rapidoid/rapidoid-commons/5.4.4/e0593fedfcdcc3c644861f3b9435824dd27d1754/rapidoid-commons-5.4.4.jar(/org/rapidoid/cache/Caching.class): warning: [classfile] MethodParameters attribute introduced in version 52.0 class files is ignored in version 51.0 class files

A quick google and I didn't s

[2017-10-14 12:30] romannikov opened #143 "Unable to pass two or more 'Set-Cookie' headers"
Hi,
I need to set several cookie's values and for that I use 'set-cookie' header:
`
req.response().headers()["Set-Cookie"] = "b=$b; path=/; expires=$format; HttpOnly"
req.response().headers()["Set-Cookie"] = "a=$a; path=/; expires=$format; HttpOnly"
`
`headers()` returns map, so it's obvious that only user_id header is passed.

I also tries to do the same with `req.cookies()` but it has only key-v

[2017-10-14 17:08] javasn opened #144 "rapidoid serve for static page is fast, but serve for dynamic page is much more slow"
Even though the dynamic page is a very simple one like this:
`On.page("/").view("index").mvc((Req req, Resp resp) -> {
String id = "1#2#3#4#5#";
String title = "第一贴#$0second#$0third#$0fourth#$0fifth#$0";
String author = "龙非虎#$0herry#$0jetty#$0selly#$0ava#$0";
            return U.map("id", id, "title", title, "author", author);
        });`

On the other hand, the static page just put the $id and

[2017-10-15 03:30] javasn commented on #144
my view page index.html in template folder is as
`<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            a{ text-decoration:none}
            a:hover{ text-decoration:underline}
            .Absolute-Center {
                margin: auto;

[2017-10-16 11:33] nmihajlovski commented on #143
Hi, please use Resp#cookie:

`Resp cookie(String name, String value, String... extras)`

[2017-10-16 11:34] nmihajlovski commented on #142
Thanks for reporting this, I will take a look at it...

[2017-10-16 11:38] romannikov commented on #143
Hi, thanks for response and response :)

[2017-10-16 11:38] #143 closed

[2017-10-17 11:30] javasn opened #145 "How to cancel escaping HTML tag function"
On.page("/edit").mvc((Req req, Resp resp) -> {
            String data = null;
            try{
                data = req.posted("data");
            }catch(Exception e){}
            return U.map("data", data);
        });

my code is as above.
when the data value is `"<p><b>hello</b><br></p>",` the client browser will get the data result as `"&lt;p&gt;&lt;b&gt;hello&lt;/b&gt;&lt;br&gt;&lt;/p&gt

[2017-10-19 12:24] nmihajlovski opened #146 "Can't download static files with space in their name"

[2017-10-19 13:48] javasn commented on #145
I found the answer in the example docs. The view page with ${data} will display as escaping. The view page with @{data} will display as no escaping.

[2017-10-19 13:48] #145 closed

[2017-10-21 07:12] jumkey opened #147 "entities manager lose contextPath '/_' may be need change '/_entities' to '/_/entities'"
i found this code
https://github.com/rapidoid/rapidoid/blob/a4c17f877382b218c67a2c2847880d071b15383e/rapidoid-web/src/main/java/org/rapidoid/goodies/EntitiesHandler.java#L51
https://github.com/rapidoid/rapidoid/blob/a4c17f877382b218c67a2c2847880d071b15383e/rapidoid-web/src/main/java/org/rapidoid/goodies/Goodies.java#L162-L163

[2017-10-26 09:51] BreixoCF opened #148 "HTTP POST Request cannot deserialize instance of long[]"
I'm trying to make a HTTP POST request sending a NodeRequest object in the body of the petition. The problem is when I make `http://localhost:10000/broker/recommendation` request with Postman , setting the params previously, Rapidoid fails doing the deserialization.

NOTE: `BrokerRequest` has 2 params (`userId` and `numberOfItems` like `NodeRequest`) that are sent and received perfectly. The probl

[2017-10-26 16:54] nmihajlovski commented on #148
Can you please provide the exact body of the POST request?

[2017-10-26 16:55] nmihajlovski commented on #147
Hi, I am not sure if I understand this issue. Did you find a bug or a broken link?

[2017-10-26 21:34] #146 closed

[2017-10-27 01:58] jumkey commented on #147
record's link in /_entities page was broken.
it shoud be /_/books/manage
but now was /books/manage

[2017-10-27 02:47] jumkey commented on #147
in version5.4.6 when i specify config
`admin-zone:
  home: /_`
the entity record's link broken too.

[2017-10-27 07:35] BreixoCF commented on #148
[code]

[2017-11-09 20:04] picaron commented on #39
Hi @nmihajlovski

This would be a really cool feature to add

I imagine you are really busy.

I would be open to contribute this PR following your guidelines/suggestions on how to tackle this.

[2017-11-13 19:47] nmihajlovski commented on #39
Hi @picaron, that sounds great! Thanks for taking initiative on this.

For easy illustration of the requirements, let's start with the following example:

[code]
(source: https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/petstore.yaml)

For the `info` and `servers` sections we could introduce a new configuration section `openapi`.

Of course, the `paths` section will be more c

[2017-11-14 16:45] zaaxch opened #150 "Automatic Hot Reload Fails in Eclipse"
I am currently working on a Java project in Eclipse with "rapidoid-web" as a Maven dependency. I am using the simple example from [here](http://www.rapidoid.org/web.html).

[code]

[code]

When I change some code and save it, the watcher logs `watcher1 | org.rapidoid.setup.App | Detected class or resource changes`, but when I go to refresh the page the server throws the following:

[code]

[2017-11-21 15:53] javasn commented on #150
Same problem in netbeans with rapidoid v5.4.6.
But there's no problem with rapidoid v5.4.5.

[2017-11-29 18:34] picaron opened #151 "Configuration of log settings has no effect"
In my `config.yaml` file, the settings I entered for the `log` section have no effect (they are not taken into consideration)

For example, if I set:

[code]

Whenever I run the application, I always get the fancy output which does not render well on containerized (dockerized) environments

I am using the latest Rapidoid release (5.4.6)

[2017-12-02 23:19] ddorian commented on #39
Any (fastest) library that does something like https://marshmallow.readthedocs.io and can be connected to both swagger/rapidoid/routes so it validates request/response and also builds the api-specification. Like you can integrate python(flask+marshmallow+webargs+swagger+apispec).

In this case I think only the routes would be from rapidoid and the other stuff from external modules (no need to rein

[2017-12-03 12:24] nmihajlovski commented on #150
Thanks for reporting, I am working on this now...

[2017-12-03 15:09] nmihajlovski commented on #151
Thanks for reporting, I am working on this now...

[2017-12-04 20:26] #99 closed

[2017-12-04 20:26] #150 closed

[2017-12-04 20:26] #151 closed

[2017-12-04 20:38] picaron commented on #151
thanks for rapid fix @nmihajlovski !
😄

[2017-12-07 03:52] yterradas opened #152 "use provided length when writing content-length header"
in AbstractHttpServer
[code]
it would seem to me that parameter `length` should be used instead of `body.length`.   is that right?

[2017-12-12 10:40] bokesan opened #153 "Extend transaction context to include serialization"
Returning a JPA entity containing a collection of referenced entities as JSON from a transactional request will fail during serialization if the collection is loaded lazy (which is the default).

The reason is that the entity is not fully instantiated when the handler method returns, and the JPA lazy load will happen only on serialization. But it seems that rapidoid closes the transaction before s

[2017-12-19 16:13] nmihajlovski commented on #153
@bokesan Thanks for reporting this!

[2017-12-19 16:16] nmihajlovski opened #154 "HTTP compression"

[2017-12-19 16:27] bokesan commented on #153
@nmihajlovski You're welcome.

I did look at the code to see if there might be an easy fix, and got as far as ``AbstractDecoratingHttpHandler``. There I gave up - changing this will apparently require restructuring around exception handlers, and I'd rather leave that to someone familiar with the code base.

[2017-12-19 16:31] nmihajlovski commented on #153
I understand. :) `AbstractDecoratingHttpHandler` is the one of the most complex components in the web layer. I will try to find enough time to fix the bug this week...

[2017-12-19 18:06] bokesan commented on #153
I have a workaround (of the "dirty hack" kind), so it's not an extremely critical bug for me. The workaround does cost some performance though, so a fix in the next 1-2 months would be appreciated.

[2017-12-21 14:57] nmihajlovski commented on #153
Thanks, I am working on it, but it's good to know that!

[2017-12-21 19:59] nmihajlovski commented on #152
Sorry for the late reply and thanks for reporting this!

[2017-12-25 00:27] mikko-apo opened #155 "JDK9 @Valid not working"
I followed the example at http://www.rapidoid.org/restful-services-with-lambda-handlers-jpa-jackson-and-bean-validation.html

I was using JDK9 (MacOs High Sierra, java build 9+181) and  Rapidoid-quick 5.5.0.

@Valid doesn't work, instead a Book with null title is created when POSTing with

`curl http://localhost:8080/books -d '{}' -H "Content-Type: application/json"`

Using the command line switch

[2017-12-25 13:41] mikko-apo commented on #155
Accurate reading hasn't been my forte :) I just noticed that the various modules listed in the beginning of http://www.rapidoid.org/ mention that only JDK 6-8 is supported.

JDK9 support would be a nice addition since JDK9 has been out 3 months.

[2018-01-02 16:34] bokesan commented on #153
I can't get 5.5.1 to work. 5.5.0 is fine (except for the transaction behavior), but with 5.5.1 even the simplest requests time out and result in an empty response. In fact, handlers are not called at all - I have a /test handler that only does `Log.info(...)` and `resp.html("Ok!")`, and don't get either the log message or any response.

[2018-01-02 22:56] nmihajlovski commented on #153
Thanks for informing me, and I apologize for this embarrassing regression, which was introduced by the recent refactoring of the job executors (all the tests were passing because they were already initializing those executors).

As soon as I confirm the fix, I will release v5.5.2...

[2018-01-03 15:57] bokesan commented on #153
Now I see another breaking change: I'm using `resp.json(*entity*)`. In 5.5.0 this serialized *entity* into the response body. In 5.5.2 I always get `"DONE"` as the response body.

[2018-01-04 14:44] nmihajlovski commented on #153
I fixed that, I am releasing v5.5.3 now...

[2018-01-04 14:58] #152 closed

[2018-01-16 10:28] bokesan commented on #153
Sorry for taking so long about this. The issue itself is fixed, but I am using `@Version` columns, and the change led to the JSON containing the old value, as the serialization happens inside the transaction. Can't have it both ways though, so I finally decided that using JPA.flush() to fix this is acceptable.

[2018-01-16 10:28] #153 closed

[2018-01-20 17:09] nmihajlovski commented on #153
Thanks for the feedback!

[2018-02-09 04:00] wmacgyver opened #157 "rapidoid-render required?"
I noticed http-server pulls in http-fast, which in term pulls in render.

for a REST service, having the template engine isn't useful at all. can this be made optional?

[2018-02-09 19:42] danielbraga commented on #39
Hi @nmihajlovski,

How to get paths, methods and parameters?

Thanks

[2018-02-12 12:57] nmihajlovski commented on #39
@danielbraga Thanks for the PR! I merged it into a new branch: `openapi`.

The routes can be accessed using `On.setup().routes().allNonAdmin()`.

The tricky part would be accessing the parameters. I am going to add support for a generic (JSON-style) "schema" property that can be configured per route.

[2018-02-12 13:21] #148 closed

[2018-02-12 16:16] nmihajlovski commented on #157
Makes sense, thanks!

[2018-02-21 14:42] nmihajlovski commented on #39
@danielbraga @picaron FYI:
 - I added meta-data model for the routes (`RouteMeta`),
 - I removed the template-based YAML generation (@danielbraga sorry for that). Instead, I implemented dynamic docs construction from `RouteMeta` into Java collections, which are then rendered as JSON or YAML.

Also, I merged the `openapi` branch into `master`. This is still work in progress, but the next release of

[2018-03-26 20:05] wmacgyver opened #160 "replacing SSL provider from javax.net.ssl.SSLEngine to Conscrypt ?"
I was reading the rapidoid SSL support code, and notice it uses javax.net.ssl.SSLEngine.  What do you think about replacing SSL provider from javax.net.ssl.SSLEngine to Conscrypt?

this will kill two birds with one stone.

1: it's A LOT faster

2: it provides ALPN correctly for java 8, so someday if/when rapidoid wants to add http2, you are already covered

more info https://webtide.com/conscrypti

[2018-04-13 20:30] hboelke opened #161 "Getting "HEADERS[Referer] must NOT be null!""
Im getting the following exception / 500 Response when calling the GET /_logout

[code]

This only happens if i called the POST /_login route before.
And the first GET /_logout request, after login throws an exception.
Every GET /_logout request after that returns 403 Forbidden

Reproduce:

[2018-04-14 12:51] hboelke commented on #161
Looks like this is the desired result

[code]

Not sure why this happens tho, my requests are stateless.

[2018-04-16 12:51] nmihajlovski commented on #161
Thanks for reporting this. I will fix it to make the redirect optional (to redirect only If the referrer is provided).

[2018-04-16 12:54] nmihajlovski commented on #160
Thanks, I am not familiar with Conscrypt, so I will take a look at it...

[2018-04-19 03:20] picaron opened #162 "Default value for configuration entries"
Hi @nmihajlovski !

I was wondering if there is any way to specify a default when using placeholder for configuration entries

for example, in my configuration file, I have the following configuration:

[code]

I would like to be able to specify a default value for this config if the env var `ELASTICSEARCH_API_URL` is absent.

[2018-04-22 04:08] hboelke opened #163 "Can't use JPA.save() to create new objects with number as identifier"
[code]
[code]

Since an id with type byte,short,int,long is always 0 if it's only decalred, jpa always tries to update.
Because:

[code]

I know there is the JPA.insert() method, but is it possible to get the JPA.save() method for new objects with numbers as identifier working too?

[2018-04-22 05:48] zapov opened #164 "Faster JSON library"
Although Jackson is the standard JSON lib there is a much faster one: http://github.com/ngs-doo/dsl-json

Relevant benchmark: https://github.com/fabienrenaud/java-json-benchmark

If you are interested in having it as an alternative I can help with integrating it.

[2018-04-22 17:02] nmihajlovski commented on #162
Hi, that would be a useful feature, indeed. Currently the placeholder substitution in `ConfigImpl` is very simple, so it doesn't support default values.

[2018-05-14 01:41] avently opened #165 "Android support"
Hello. Is Android support  possible? Now after start I got
[code]
I don't think that is the last incompatible place. Android runtime doesn't have many classes from Java 8, for example. Hard to find any server for it. So. Are you interested in supporting Android?

[2018-05-14 13:52] yasinfp opened #166 "Validation for PojoControllers ?"
is there any request validator for Pojo-based Controllers in the framework ?

[2018-05-19 18:24] #165 closed, assigned to nobody

[2018-05-22 15:27] bokesan opened #167 "Log prints stack traces to standard error instead of logging them"
The Log methods taking a Throwable always write the stack trace to standard error.
I was always wondering whether my config was wrong until I looked into the source: it actually uses `Throwable.printStackTrace`. Is this by design? I really need stack traces in the regular log output.

[2018-05-25 17:45] hboelke opened #168 "Couldn't retrieve the parameter names!"
Hey!

[code]

This gives me the following error:

``
Exception in thread "main" java.lang.IllegalArgumentException: Couldn't retrieve the parameter names! Please report this problem. You can explicitly specify the names using @Param("thename"), or configure the option '-parameters' on the Java 8 compiler.
``

If i do it like this, it works:

[code]

I don't know why, but in the **getMethodParamete

[2018-05-27 12:33] nmihajlovski commented on #163
`GeneratedValue` caused the problem, indeed. I tested locally, didn't find other problems.

[2018-05-27 12:33] #163 closed

[2018-05-27 12:41] nmihajlovski commented on #164
@zapov Sorry for the late reply. The `dsl-json` library seems to be much faster, and it will be a nice alternative offering for high performance use cases.

As a first step, we can add a sample project in `examples` that integrates `dsl-json`. What do you think?

[2018-05-27 12:53] nmihajlovski commented on #166
Your can use the bean validation or the generic wrappers, but there isn't a direct way to specify wrappers for the pojo-based controllers.

[2018-05-27 14:19] nmihajlovski commented on #167
This was by design, to provide a way to log the error and print stack trace on std-err when calling e.g. `Log.error(msg, err);`.

The functionality that you need can be achieved by providing the exception as argument e.g. `Log.error(msg, "error", err);`.

However, I am refactoring the logging mechanism now, to unify both ways of logging, which will reduce the surprises like that. The target output

[2018-05-27 16:03] #161 closed

[2018-05-27 17:16] zapov commented on #164
Sure, thats sounds like a good POC to validate that you can switch the serialization library

[2018-05-28 08:34] bokesan commented on #167
Thanks, works for me! (And you are right about surprises - I'd never have guessed that the stack trace would be printed when the Throwable is given as an argument).

[2018-05-28 08:34] #167 closed

[2018-05-28 10:34] aqnaruto opened #169 "【RESTful JPA One-liners With Rapidoid】 must in main function?"
JPA One-liners  is cool,
but i want separate different route in different class。
so，how do i keep One-liners in those classes，not Mian() function

[2018-05-29 13:59] hboelke commented on #168
Hey, with '-parameters' it works now.
There was something cached in background so it doesn't worked the first time i tried it.. :/
Thanks for your help!

[2018-06-02 12:38] #168 closed

[2018-06-04 22:24] darkhax opened #170 "Better handling of exceptions."
Hello, I would like to be able to be able to better handle exceptions thrown within Rapidoid in my application. There are many places in the code base where exceptions are swallowed and/or replaced with other exceptions which makes it difficult to do this accurately.

For example, when launching two instances of rapidoid on the same port, a BindException is thrown with the message `Address already

[2018-06-09 09:27] zapov commented on #164
@nmihajlovski I did something with my limited knowledge of Rapidoid here: https://github.com/rapidoid/rapidoid/pull/171/files

That body parsing feels like major hack.

[2018-06-25 19:50] hboelke opened #172 "404 not found instead 204 no content"
Hi,
when i try to set the response code to 204 (No Content) and return null, i get a 404 (Not Found) instead.
Is this a bug or expected behavior, if so, how can i return 204 with no content?

[2018-06-26 14:37] aqnaruto commented on #169
@sezinkarli thankyou reply ,but what i want is 【One-liners】,just like `On.get("/showPath").json((Req req) -> req.path());`

not like ` @POST
    public String lower(Req req, Resp resp, @Param("x") String s) {
        return s.toLowerCase();
    `

it is MultiLine ,
it is not cool

[2018-07-22 00:08] febelectron opened #173 "UDP support?"
It seems rapidoid clashes with 3rd-party NIO libraries like Netty.
If I open TCP port via Rapidoid and UDP port via Netty then Netty NIO config overwrites TCP rapidoid one and TCP port simply doesn't open.

Are there any plans to add UDP (datagram) support?

[2018-07-23 10:40] febelectron commented on #173
More details.
Netty code I'm using to listen to UDP socket in rapidoid app.
Unfortunately, after this code execution rapidoid stops listening 9000 TCP port.

{code}
        EventLoopGroup group = new NioEventLoopGroup();
        try {
            Bootstrap  b = new Bootstrap();
            b.group(group)
                    .channel(NioDatagramChannel.class)
                    .handler(new Channe

[2018-07-23 13:06] #173 closed

[2018-07-23 13:06] febelectron commented on #173
Found the cause, not related to rapidoid

[2018-08-12 07:47] #169 closed

[2018-08-12 07:49] aqnaruto commented on #169
hey,could this issue what i say  be a `feature request`        or     `enhancement`       @nmihajlovski

[2018-09-09 19:59] emi-silva commented on #124
I'm facing the same issue.

Here's my main file `Debo.java`:
[code]

Here's `Book.java`:
[code]

When I deploy the app everything seems to work fine:
[code]

When I execute the app, still things seem OK:

[code]

When I request a different resource, everything works fine:
[code]

However, when I request `/books` things go awry:
[code]

It doesn't matter if I perform a GET or a POST request:
[code]

[2018-09-22 15:42] PiotrMetel opened #174 "timeout request retry"
Hi, first of all big thanks for the great project! It is fun to write webapps in java again.

I found that after timeout (default 30s) request is retried again. How to turn it off?

To simulate it I put breakpoint in Handler and make request, after ~30s two threads are hanging.
Checking stack traces, the difference is only executor name - I guess the logic is low level in the event loop...
[code]

[2018-09-29 15:50] ac130kz opened #175 ""Hello, World" example unit test RuntimeException"
System: Ubuntu 18.04
openjdk 10.0.2 2018-07-17
OpenJDK Runtime Environment (build 10.0.2+13-Ubuntu-1ubuntu0.18.04.2)
OpenJDK 64-Bit Server VM (build 10.0.2+13-Ubuntu-1ubuntu0.18.04.2, mixed mode)

A slightly modified version of hello-world example simply falls with the following wall of error messages:

[2018-10-03 18:39] Jezza opened #176 "Organise and support Java 9+ module system."
With the release of Java 11, a lot of people, myself included, are looking to move to the new java version.
Unfortunately, due to how the rapidoid project is structured, it doesn't play nicely with the module system.

A lot of the sub-projects redeclare the same packages, and as a result, you can't compile a simple java project that depends on rapidoid.

Are there any plans to organise rapidoid in

[2018-10-10 10:06] neur00 opened #177 "TLS Configuration per Server config"
Hi,
There is a very limited TLS configuration when you're using multiple servers per application -  you can't use different TLS cetificates to different server instances.
org.rapidoid.net.ServerBuilder loads TLSParams from Conf.TLS which is always loaded from config.yml. Would be nice if this could be set programmatically to org.rapidoid.setup.Setup and then loaded to builder, just like Networking

[2018-10-13 02:22] vuminhngoc opened #178 "Error occurred when handling request! | error = java.lang.NullPointerException"
When running webservice with rapidoid about 2 days, this errors appear:
 Error occurred when handling request! | error = java.lang.NullPointerException
java.lang.NullPointerException
 2018-10-13 09:15:24
 org.rapidoid.log.Log[383] -
                                Caller+0         at org.rapidoid.log.Log.log(Log.java:383)
Caller+1         at org.rapidoid.log.Log.log(Log.java:491)
Caller+2

[2018-10-13 07:11] #166 closed

[2018-10-13 07:28] nmihajlovski commented on #174
Hi, thanks for the kind words, and sorry for the late reply.

I checked this quickly, there shouldn't be any retry performed by Rapdioid.

Can you please confirm that the HTTP client isn't doing the retry?

[2018-10-13 07:33] nmihajlovski commented on #178
Hi, without a proper way to reproduce this problem, I can't know what happens, and if there is a bug in Rapidoid or your application caused this.

You could set the logging level to `LogLevel.NO_LOGS`, but I don't recommend ignoring the problem.

[2018-10-13 07:35] nmihajlovski commented on #175
Can you please provide the code, so that I could try to reproduce the problem?

[2018-10-13 07:38] nmihajlovski commented on #155
Hi, I am closing this now. Please take a look at #176

[2018-10-13 07:38] #155 closed

[2018-10-13 07:43] nmihajlovski commented on #172
Hi, sorry for the late reply. Returning `null` is the reason for the 404 response. This is a documented behavior, but it turned out to be not so good design decision (it is counter-intuitive for many users).

[2018-10-15 07:02] ac130kz commented on #175
I simply copied https://github.com/rapidoid/rapidoid/tree/master/examples/hello-world

[2018-10-18 02:17] skhro87 commented on #177
I agree, generally it would be good to be able to configure SSL (e.g. cert location) programmatically. I didn't find a way to do this yet.

[2018-10-19 09:20] vuminhngoc commented on #178
I seted disable log but not work.
Log.setLogLevel(LogLevel.NO_LOGS);

I can't log any requests cause this error, I wasn't use logging when handle requests. And fisrt caller (HttpManagedHandlerDecorator.java:109) not from my app, so i can't trace back error.

[2018-10-26 07:48] vsaji opened #180 "How to return Protobuff binary from server ?"
We are evaluating rapidoid for one of our projects. While trying with Protobuff stream, we were able to send the stream to server, however, we have no clue how to return a binary data to the client.

We could read the data via Req.body().
We have tried with Req and ReqResHandler, but they both return object but we don't know what to return.

We tried returning instance of Resp (Req from req.respon

[2018-10-31 13:49] the20login opened #181 "Binding to random port"
There are cases when you would like to bind to random port.
Intuitive way to do so is to set port to zero.
Unfortunately, there is no way to extract real port. API method just return configured port instead of getting it directly from socket.

I, personally, would prefer separated method (like "bindPort()") instead of altering current method behaviour. This also helps to maintain backward compatib

[2018-10-31 13:50] the20login commented on #181
I could write PR, if you point me to preferred API (alter current method or add new one).

[2018-11-01 07:16] skhro87 opened #182 "Ignore Content-Type"
My goal is skip the build-in body parsing, and parse the body myself, always assuming Content-Type application/json, ignoring the actual request Content-Type.
I already set a custom ```jsonRequestBodyParser``` and therefore skip the build-in parsing.

However, I'm seeing exceptions in my logs when the Content-Type is empty or plain/text, or basically anything except ```application/json``` or ```ap

[2018-11-17 07:45] lishirong commented on #59
I add the MSYH.ttc to the system font.then,I update my jdk version from 1.8.0_111 to 1.8.0_191 and i resolved it.

[2018-11-21 23:21] Dmole commented on #78
I'm looking for a fast light async http2 java web server...

[2018-11-29 08:03] laurent-s4m commented on #182
Hi,

I'm not sure this will fully answer your issue as i myself having occasional errors like that one but if you deactivate managed mode you should be able to handle whatever comes at you:
```On.defaults().managed(false);```

I'm actually on some occasions having that exception even with managed mode deactivated but I'm only seeing that in production and am unable to reproduce it at the moment.

[2019-01-05 18:43] Jezza opened #183 "Rapidoid crashes when processing requests that use Transfer-Encoding."
Ok, so after an hour or two of smashing my face against this problem, it's a bit of a doozy...

I've written a shitty http client that can send Multipart POST requests to a server.
The server I was using to test against was Rapidoid, as it's insanely easy to do anything. (Props for that).

The library I'm writing uses the new Java 11 HttpClient, and as far as I can tell, the problem doesn't lie wi

[2019-01-05 21:47] Jezza commented on #183
After returning to have another go at this issue, I've been able to stop the issue if I just send all of the data at once.

This means that there's actually two more things that could be doing something.

1) It could be Java's new HttpClient and their InputStream BodyPublisher. (I shouldn't have dismissed it immediately.)
2) It could be my code on top of that, because I map a bunch of multipart it

[2019-01-05 21:51] Jezza commented on #183
After poking it more, I'm about 99% sure it doesn't come from my InputStream code.
I transformed the output into an array, and then compared that against the collected output of the chunked InputStream, and they both came out the same.

This leaves Java or Rapidoid.

[2019-01-05 22:12] Jezza commented on #183
Having poked it a lot more, I think I've determined the issue.
Java's Client uses "Transfer-Encoding" when using an InputStream and Rapidoid doesn't support that.

So, I guess after all of that, I should probably change this ticket to support Requests that use that.

[2019-01-05 22:13] Jezza commented on #183
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding

[2019-01-05 22:15] Jezza commented on #183
So, yeah, I think the biggest thing right now is the fact I can bring down any rapidoid server just by sending a request that uses this...
Whether or not that's REALLY bad, or just bad, well, could be debated.

[2019-01-06 02:30] Jezza commented on #183
Heyo, thanks for the speedy response.
I sent you an email with more information.

[2019-01-06 16:02] nmihajlovski commented on #183
Thanks again for helping with the investigation and for providing all the details!

I managed to reproduce the exceptions with the program that you provided. However, the server doesn't crash, the exceptions are just being logged.

Additionally, I wrote a test that sends the same request (in a bit different way, though), but the effect is the same - the same exceptions occur, but the server doesn'

[2019-01-06 16:31] Jezza commented on #183
No problem!

Hm, that's really weird.
I guess that means there's probably a problem elsewhere...
Might be on my side. (or possibly a JDK issue... Most likely my side though...)
I'll take another look into it.

Either way, I'm glad it's reproducible.

[2019-01-11 08:05] easykoala opened #185 "How to integate with spring?"

[2019-01-17 07:53] skhro87 commented on #182
Hi Laurent,

sorry for the late reply.
Thank you for the suggestion, but it's not exactly what I was looking for.
Even if it would solve the exception-throwing issue, turning off the managed mode has all kind of other implications (see https://www.rapidoid.org/docs.html#_managed_vs_unmanaged_request_handlers).
I want to keep using the rapidoid managed features and just want to get rid of the excep

[2019-02-13 00:33] uugan opened #187 "soapMessage.WriteTo"
How to use rapidiod for soapMessage.writeTo method?

soapMessage.writeTo(resp.out());
or
resp.result(soapMessage.toString());
if we do by second way it gives some warning/error like below:
ERROR (13 Feb 2019 08:22:15.640) [executor2] org.rapidoid.http.impl.ReqImpl:383  - Token deserialization error! | error = java.lang.RuntimeException: Couldn't parse the request body - unsupported content type: t

[2019-02-27 20:49] bokesan commented on #182
I have come across the same problem: rapidoid seems to parse the request body as JSON even though I only use `req.body()` to get the raw content. Changing the content type to "text/plain" or "application/octet-stream" results in "unsupported content type".
This is rather limiting and can't be good for performance.

[2019-03-02 22:13] pmetel opened #188 "Metrics takes too much memory by default"
It seems that 6 basic Metrics can take over 250MB of the heap, after some time.
This is due TimeSeries default SlidingWindowList is truncated above 7 * 24 * 3600 * 2.1

Memory profiler shows me that SlidingWindowList with 758_712 elements took 27_520_128 bytes, which lead to OOM in my case.

[2019-03-08 10:00] bokesan opened #189 "Is it possible to change http.timeout per route or per request?"
I have some routes where it is normal for processing to take some time and so I need to increase the config parameter `http.timeout` to more than the default 30 seconds. But most routes, I'd be happier to have it much lower (say 5 seconds). I've not found anything in the API - it this possible?

[2019-03-13 11:25] nmihajlovski commented on #189
Sorry, currently it is not possible to configure the timeout per route nor request.

[2019-03-13 13:41] bokesan commented on #189
Ok, thanks. I'll just use a higher default value.

[2019-03-13 13:41] #189 closed

[2019-04-02 14:20] nestoru commented on #39
Any possibility to actually make swagger the route definition holder? A DRY top down approach would ideally declare all of the below in swagger and only in swagger:

1. Route definitions with references to endpoint executable code
2. Validation of request payload against defined schema
3. Validation of response payload [optional for those that favor response time over spec-conformity]

[2019-05-30 14:54] romannikov opened #190 "Using session() in org.rapidoid:rapidoid-http-server:5.5.5"
Hi!

I try to use `req.session()` in my code but it causes a `java.lang.NoClassDefFoundError: org/rapidoid/gui/reqinfo/ReqInfo` error due to HttpUtils:289 line:
[code]
Is it a bug?

[2019-06-24 13:47] noahbkim opened #191 "Enabling CORS on a view with no access to Resp"
My view looks something like this:

[code]

I'd like to enable CORS on the endpoint, but I'm not sure how I can do so without access to the Resp in the view signature. Are there any other ways to do this?

[2019-07-05 00:23] bcashier opened #192 "How to start a new Web Server Instance with Rapidoid ?"
Hi,

I find nowhere an example of how to start a web server using Rapidoid ?

Can someone help please ?

Thank you

[2019-07-28 04:36] madscientist159 commented on #160
Please do not do this.  Conscrypt is only available for three specific architectures, one of which is not really usable (MIPS) -- worse, Google has been actively resisting attempts to add other architectures.  Open source software should be able to run on any hardware that has sufficient power to run the application(s), not what Google dictates should be used.

[2019-08-13 18:20] mzheravin opened #193 "running Rapidoid from JUnit - exception when handling async response"
Hi!

When running rapidoid from JUnit (4 or 5) I'm getting following error for async requests. Sync handling works fine. Exception happens when calling done() method:

[code]

How I do async processing in the code:

in rapidoid handler thread:
1. Resp resp = req.async()
2. ... publish resp to processing pipeline...
3. return resp

later from another thread:
1. resp.code(..)
2. resp.json(..)
3. res

[2019-08-16 22:16] ArthurFromDnipro opened #194 "How to start only JPA?"
Hello!

I tried to use JPA.bootstrap(args);

This takes 7+ seconds on my pc, but App run with web and jpa takes 4 secs.

[2019-08-20 13:09] Jezza opened #195 "Allow configuring Controller's routes."
Currently, we can only configure a route for a Controller via [Annotations](https://github.com/rapidoid/rapidoid/blob/master/rapidoid-rest/src/main/java/org/rapidoid/setup/PojoHandlersSetup.java#L249).

The annotations themselves aren't the problem, but rather that not all options are available/configurable.
Introducing every option as an annotation would be crazy, and borderline unmaintainable.
I

[2019-08-20 13:12] Jezza opened #196 "Allow declaring a common root for routes."
It would be cool if we could, when declaring routes, specify a context for a given set of routes.

It's not annoying per se, but it would be nice to see some structure.

[code]

[2019-08-20 13:13] Jezza commented on #196
I just realise it could be given the setup to setup the routes.

[code]

[2019-09-05 17:41] Jezza opened #197 "New release for updated dependencies?"
Hey, I was just about to make a ticket about updating some of the dependencies, because 5.5.5 seems to be pulling in some old versions of a lot of libraries, but I noticed that a lot of the libraries have been updated already, it's just waiting on a release.

Could we get a 5.5.6?

I'm currently blocked on a bug from Jackson 2.8.5, and it was fixed in the later versions.

Many thanks. :)

[2019-10-15 12:40] abnud1 commented on #78
Any progress on this issue ?

[2019-10-23 01:00] gnomeria commented on #197
is this project no longer being actively developed?

[2020-01-16 11:54] madmuffin1 commented on #172
It is possible, just set the code to 204 manually and specify an empty byte array as response:

`req.response().code(204).body(new byte[] {});`

[2020-02-17 00:10] furgin commented on #175
I got this error too and found that it was because of an outdated version of javassist.  I dependencyManaged it to 3.26.0-GA which fixed the problem.

[2020-04-03 11:44] anonyco opened #199 "Are There Plans To Support HTTP/2 Server Push?"
I love the speed and performance of Rapidoid, but there would be even greater speed/performance gains if Rapidoid started supporting HTTP/2 push.

[2020-05-13 15:26] judepereira commented on #180
It appears that one needs to return the response object, as documented here: https://www.rapidoid.org/docs.html#_sending_chunked_http_response

Doing so solved it for me.

[2020-08-03 13:01] #183 closed

[2020-08-07 22:47] bgweber commented on #182
Reverting to version 5.4.6 fixes this issue. It looks like the request body parsing was added in version 5.5.0.

[2020-08-10 10:58] sysmat commented on #124
Same here

[code]

[2020-10-12 03:19] HotGameCoder opened #200 "More setup details are required for https"
Hi
Https is more important nowadays.
The docs is so limited and not enough example.

I tried to add config.yml in  /app/config.yml
but the https is not live in test.

Need some helps here.

Thanks a lot!

[2020-12-27 16:35] danuvian opened #201 "On.page().mvc() error"
I am trying to copy your examples for displaying an HTML page and I am getting an error.

I have code like this:

On.page("/hi").mvc("Hello <b>world</b>!");

And I have a "hi.html" file in resources/templates.

11:32:10.236 [executor1] ERROR o.r.h.impl.lowlevel.LowLevelHttpIO - Error occurred when handling request! | error = java.lang.RuntimeException: Error while retrieving view: hi
java.lang.Run

[2020-12-27 16:37] danuvian opened #202 "Add additional documentation and examples for HTML rendering"
There does not appear to be a lot of documentation for HTML rendering.

Need more documentation and ideally a repo that contains fully working examples of how to set up and use the HTML rendering functionality.

[2020-12-28 07:16] LandyLane opened #203 "Video/Media Upgrade"
Currently, when serving large media, buffer space is an issue and leads some browsers (typically on mobile) unable to load the content for playback. Also, on Chrome, you are unable to scrub through the content compared to Apache's Web Server.

It would be a nice feature to have this looked into.

[2020-12-28 16:57] LandyLane commented on #202
The response which contains the HTML code is just text. Any rendering is something you should test locally.

[2020-12-28 16:59] LandyLane commented on #200
https://www.rapidoid.org/docs.html#_https_tls

config.yml needs to be in the root directory. You can confirm its reading by setting the port via the config file.

[2021-08-20 13:35] doggie1989 commented on #98
Hi Guys,I have solved it..I need it for all request with CORS enabled.

	On.defaults().wrappers((req, next) -> {
			Resp resp = req.response();

			String origin = null;
			try {
				origin = req.header("Origin");
			} catch (Exception e) {
				// TODO: handle exception
				return next.invoke();
			}

			if (origin != null) {
				resp.header("Access-Control-Allow-Origin", origin);
				if ("OPTIONS

[2021-10-06 05:57] CVEDetect opened #204 "Dependency org.hibernate:hibernate-core, leading to CVE problem"
Hi, In **rapidoid/rapidoid-jpa**，there is a dependency **org.hibernate:hibernate-core:4.3.11.Final** that calls the risk method.

[CVE-2020-25638](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-25638)

The scope of this CVE affected version is **[,5.4.24.Final)**

After further analysis, in this project, the main Api called is **<org.hibernate.sql.QuerySelect: java.lang.String toQueryStri

[2021-10-06 05:57] CVEDetect commented on #204
@nmihajlovski
Could please help me check this issue?
May I pull a request to fix it?
Thanks again.

[2021-11-08 07:23] vachb opened #205 "Why no longer fastest in the world?"
I remember this was fastest web server in the world at some point?
did it get slower with more features?

https://www.techempower.com/benchmarks/#section=data-r12&hw=ph&test=plaintext
here it has the highest score, if it kept that score it would be highest even now
so what happened here? just a lucky round 12 or it became slower over time

[2022-01-19 06:46] desmond27 commented on #201
I've been facing the same issue. But it looks like this project has been dead for a good portion of three years.

[2022-02-09 09:38] vuminhngoc opened #206 "Plz fix bug for java 11"
when i config java 11, have a error:
16:11:18.682 [executor60] ERROR org.rapidoid.http.impl.lowlevel.LowLevelHttpIO - Error occurred when handling request! | error = java.lang.RuntimeException: Error while retrieving view: 404
java.lang.RuntimeException: Error while retrieving view: 404
	at org.rapidoid.u.U.rte(U.java:427)
	at org.rapidoid.http.impl.ResponseRenderer.renderView(ResponseRenderer.jav

[2022-03-27 04:53] boussou commented on #51
https://javalibs.com/artifact/org.rapidoid/rapidoid-websocket

[2022-08-27 02:20] #51 closed